[2012-02-03 22:28] geekcomputers opened #1 "Document scripts"

[2012-02-03 22:31] geekcomputers opened #2 "Update read me"

[2013-07-04 14:18] #1 closed, assigned to geekcomputers

[2013-07-04 14:18] #2 closed, assigned to geekcomputers

[2015-03-06 17:33] aeco00 opened #8 "import error"
it says,
ImportError no module named crypt:

[2015-03-06 18:04] aeco00 commented on #8
#update
i fixed this issue by using fcrypt modlue ( it is same as crypt, written for windows, as crypt don't work on windows)
but,now it is saying ->
.
no such file or directory 'passwords.txt'
.
.
(sorry i am new to programming, and i am starting with pyhon as my first language..i admit i know a little)

[2015-04-25 08:39] nimishmehta8779 opened #11 "Written a python script to map device with specific host adapter..."
#!/bin/env python

import glob
import os,sys
import re

if sys.version_info < (2, 6) and sys.version_info < (2, 7):
        print "This is not valid version"
        sys.exit()

if sys.platform != "linux2":
		print "This is not valid OS"
		sys.exit()

os.chdir('/sys/block/')

#dev_list = ['sd.*','mmcblk*']

def size(dev):
    nr_sectors = open(dev+'/size').read().rstrip('\n')
    sect_size = open(

[2015-05-10 19:16] geekcomputers commented on #8
Apologies for the delay, did you work this out in the end?

Regards
Craig

On 6 Mar 2015, at 18:04, Chander Mohan <notifications@github.com> wrote:

[2015-09-10 18:05] Yeniaul opened #13 "[not an issue] See inside, @geekcomputers!"
@geekcomputers will you help me with my projects? I would be honored if you would!

[2015-09-10 21:48] geekcomputers commented on #13
What projects are you referring to?
On 10 Sep 2015, at 19:05, Yeniaul <notifications@github.com> wrote:

[2015-09-14 14:24] FunkySayu opened #14 "Invalid PEP8 scripts"
Your scripts are not PEP8 valids. However, there're a lot of others issues :
- way too much commentarys for not enough docstrings
- invalid files metadata format (cf http://stackoverflow.com/questions/1523427/what-is-the-common-header-format-of-python-files)
- some unclear things...

Should I contribute to fix them ?

[2015-09-19 20:47] geekcomputers commented on #14
Feel free to add suggestions

Cheers

Sent from my iPad

[2015-09-19 20:47] geekcomputers commented on #13
What projects do you have in mind?

Sent from my iPad

[2016-01-05 19:35] jdhines opened #27 "batch_file_rename doesn't do anything"
I'm learning python, and after having done some lessons, it was suggested that I browse Github, find a python project, and just read some code to gain more experience. Your batch file rename script is the first one I looked at, and it appears to have an error.

You have the following code:

`if old_ext == file_ext:`

which means it will only "rename" to the same name, defeating the purpose of the

[2016-01-11 21:27] udoyen opened #28 "Possible empty password file"
I looked through your code and as a current student learning python I was asked to pick any code and see if I can correct any errors.

Well I would think adding an **"else"** statement to the main function would help in **preventing  the processing** of empty password files by the users.

[2016-01-17 12:08] #8 closed

[2016-01-17 12:19] diyeshsangani commented on #28
Thanks.. I debugged it long ago, but forgot to update the code. Anyways..
Thank you
On 12 Jan 2016 02:57, "george udosen" <notifications@github.com> wrote:

[2016-01-18 18:13] udoyen commented on #28
Thanks for your response. I will close the issue now.

[2016-01-18 18:13] #28 closed

[2016-01-28 19:58] FelixDavidson commented on #27
Have you tried running the script because it works.

[2016-02-01 10:08] bravesnail commented on #27
@jdhines exactly , it's used to modify extension.

[2016-02-01 17:46] jdhines commented on #27
@bravesnail Ah, ok. I do see that now. I guess I was confused by the comments saying it would rename a batch of files, but didn't mention that it's purpose was just to rename extensions. My recent use cases for batch rename are renaming a bunch of images with generic names (like img001.jpg) to something else (like my_neat_event_20151231_1.jpg), so that was my frame of reference.

[2016-02-01 17:46] #27 closed

[2016-02-02 07:46] bravesnail commented on #27
@jdhines i just rewrite the function batch_rename() like this maybe effectual:
def batch_rename(work_dir,old_part,new_part):
	for filename in os.listdir(work_dir):
		if filename.find(old_part) != -1:
			print filename
			newname = filename.replace(old_part,new_part)
			os.rename(
				os.path.join(work_dir,filename),
				os.path.join(work_dir,newname)
				)
e.g:cmd >python batch_file_rename.py work

[2016-02-03 10:00] oxfordyang2016 opened #32 "can not excute this script"
import shownfile#i have named this script
 Enter a file name: r'c:\python27\showfile.py'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\showfile.py", line 18, in <module>
    file_stats = os.stat(file_name)
WindowsError: [Error 123] : "r'c:\\python27\\showfile.py'"

[2016-02-04 18:08] DuncanBetts opened #33 "What happens if Recycle Bin is not located on the C drive?"
Is that helpful? I appreciate these are just code examples you're publishing.

Kind Regards

Duncan

[2016-02-18 20:39] dmahugh opened #37 "osinfo.py simplification"
FYI, you can use enumerate() to simplify osinfo.py. Instead of this:

`i=1`
`for item in profile:`
`print( '#',i,' ',item)`
`i=i+1;`

... do this ...

`for i, item in enumerate(profile, 1):`
`print( '#',i,' ',item)`

[2016-02-19 20:31] geekcomputers commented on #37
Thanks, feel free to make the change

Cheers
Craig
On 18 Feb 2016, at 20:39, Doug Mahugh <notifications@github.com> wrote:

[2016-02-20 05:24] dmahugh commented on #37
Pull request submitted. Nice set of tools, I'll continue looking through them. Cheers.

[2016-02-20 21:34] geekcomputers commented on #37
Thanks very much

On 20 Feb 2016, at 05:24, Doug Mahugh <notifications@github.com> wrote:

[2016-03-31 23:11] IcyRamen opened #44 "Shebangs?"
Shouldn't all the .py files all have shebangs?
For example:
#!/usr/bin/python3
(Assuming the user is on Linux/Unix. If the user is on windows it will be read as a comment and no harm will be done.)

[2016-03-31 23:19] IcyRamen commented on #33
Especially if you're on Unix/Linux. I'm pretty sure you could use the following code to tell what operating system you're on and adjust accordingly:
[code]

[2016-04-02 19:58] teror4uks commented on #44
but is it necessary? i can use py2 and this coment in first line will be prevent.
P.S. It is my opinion

[2016-04-03 16:56] IcyRamen commented on #44
Well, it ensures that the file can be run with a double click from a file explorer instead of the need to run  `python2 filename.py` from the terminal.

[2016-04-06 10:49] munendrasn opened #47 "`create_dir_if_not_there.py` generates Error"
@geekcomputers

1. except is not properly indented
2. It is `Exception` , not `Exceptions`

Modified Code
[code]
Created Pull request #48

[2016-04-08 06:55] thinhduckhoi opened #49 "How to test the nslookup script?"
Here's the content of server.txt file under /root/python folder i put in with the nslookup script.
google.com
bbc.co.uk
Is this correct?

If so, the script didn't work.
I tested this script on python 2.6.6 and this error appeared.
Traceback (most recent call last):
  File "nslookup_check.py", line 4, in <module>
    subprocess.Popen(('nslookup '+server))
  File "/usr/lib64/python2.6/subprocess.py"

[2016-04-08 13:47] munendrasn commented on #49
@thinhduckhoi
I too got the same error. This is caused due to
[code]
According to Popen Class, First argument must be `sequence`, here it is `string`

It must be
[code]

For more information, go through the documentation - https://docs.python.org/2/library/subprocess.html

I have pull request #48  with required changes. Please let me know, If it solves your error.

[2016-04-12 09:34] thinhduckhoi commented on #49
@munendrasn Thanks you! It worked!

[2016-04-12 09:34] #49 closed

[2016-05-18 22:24] Pulkit07 opened #54 "Porting to python 3.5."
I saw your files and they are not compatible with python 3. I will like to make them work with Python 3.5 too. Let me know if you want someone to work on it.

[2016-05-22 16:57] rajeshkumargp commented on #54
Hi, Can i work on this ?

[2016-05-24 07:05] geekcomputers commented on #54
That will be good as long as you don’t overwrite the 2.7 versions, can you do them separately?

Cheers
Craig
On 18 May 2016, at 23:24, Pulkit Goyal <notifications@github.com> wrote:

[2016-05-24 07:05] geekcomputers commented on #54
That will be good as long as you don’t overwrite the 2.7 versions, can you do them separately

Cheers
Craig
On 22 May 2016, at 17:57, rajeshkumargp <notifications@github.com> wrote:

[2016-05-24 07:56] Pulkit07 commented on #54
Yes I can, I will be sending patches which will make the files run of versions>=2.6

[2016-06-04 18:20] geekcomputers commented on #54
Excellent
On 24 May 2016, at 08:56, Pulkit Goyal <notifications@github.com> wrote:

[2016-06-26 20:38] himanshuraja commented on #44
yeah and Pyinstaller can do also,but wondering if the suggestions were in the code in form of comments for help

[2016-07-29 13:53] Mtrix-Blackspecter commented on #54
Can i pach you with a better code?

[2016-07-29 16:07] geekcomputers commented on #54
What do you mean ?

Sent from my iPhone

[2016-08-12 19:48] daniktheboss opened #69 "Help?"
Hey i started a project mcpe server with python and if soneone wants to come help that would be great!

[2016-10-13 05:28] siddharthshukla74 commented on #11
its isnt compatible with 3.5.2

[2016-10-29 06:42] #47 closed

[2016-11-09 01:03] moid007 commented on #69
@daniktheboss sure, bro. I can help

[2016-11-09 01:09] daniktheboss commented on #69
Thanks! Search up bytecraftteam/bytecraft

[2016-11-22 14:34] LucasBall commented on #69
I can do the boring stuff, if you want. I got time

[2017-01-12 18:50] yuanchueh commented on #54
Can you also update the Readme file to indicate which versions of python the scripts were written and compatible for?
When going through it would make things easier.

[2017-01-22 18:58] geekcomputers commented on #54
Thank you for you contribution to the repo and the community

I wrote them all for Python 2.7

Cheers
Craig

On 12 Jan 2017, at 18:50, yuanchueh <notifications@github.com> wrote:

[2017-01-25 03:29] prateekiiest opened #121 "Get_LikesFB"
I have created a PR for getting likes on Facebook.
Please review it.   [https://github.com/geekcomputers/Python/pull/120](url)

[2017-02-04 18:06] geekcomputers commented on #121
Thank you for you contribution to the repo and the community

On 25 Jan 2017, at 03:29, Prateek Chanda <notifications@github.com> wrote:

[2017-02-25 11:42] nix-py commented on #44
I think all scripts should have this shebang
`#!/usr/bin/env python`

[2017-02-25 11:48] nix-py opened #127 "Want to improve all scripts"

[2017-02-25 11:50] #127 closed

[2017-02-25 12:13] nix-py opened #128 "Add script to check ip address"
Script will help user to know their public and local IP address

[2017-02-25 12:23] nix-py commented on #14
Should I PEP8ify all scripts?

[2017-02-25 16:10] geekcomputers commented on #44
Thank you for you contribution to the repo and the community

On 25 Feb 2017, at 11:42, nix-py <notifications@github.com> wrote:

[2017-02-25 16:13] geekcomputers commented on #14
Thank you for you contribution to the repo and the community

If you can, that will be good

On 25 Feb 2017, at 12:23, nix-py <notifications@github.com> wrote:

[2017-02-25 16:14] #128 closed

[2017-03-22 20:34] LittleLampLight commented on #54
Python 3 porting is all about print() and input() istead of raw_input()

[2017-04-06 18:58] simsausaurabh opened #150 "Enhancement - check_file.py"
def readfile(filename):
	with open(filename, 'r') as f:      # Ensure file is correctly closed under all circumstances
	    line = f.read()                        # more convenient it should be file = f.read()
	print(line)                                  # print(file)

#Because it is reading whole file not a single line.It is just an enhancement.

[2017-04-10 06:03] xiyouMc opened #152 "推荐一个Scrapy的项目"
[源码地址](https://github.com/xiyouMc/PornHubBot)
![](http://115.28.132.58:8080/docs/PornHubPic.png)

[2017-04-11 12:22] #152 closed

[2017-04-11 20:42] geekcomputers commented on #150
Please make the changes

On 6 Apr 2017, at 19:58, saurabh srivastava <notifications@github.com> wrote:

[2017-04-21 03:37] hhwhbf opened #155 "Does any functions can be used to replace cv2.imwrite?"
Hi,I use python3 to test a model which need opencv(CV2),but I failed to install opencv on windows.
Therefore,I try to find a functions which belongs to numpy or PIL to replace it.
Here are partial codes of the program.

 for rec_val, img,x,y in zip(reconstruction_vals, test_images, xs, ys):
                    rec_hid = (255. * (rec_val+1)/2.).astype(int)
                    rec_con = (255. * (img

[2017-04-22 11:09] simsausaurabh commented on #128
Is this script present already?

[2017-04-27 14:33] shreydan opened #158 "Better folder structure."
This repo has a lot of great programs, it would be great if similar types of programs were organized into folders so it is easier to find them and would be better in the future for more programs to be added to this repo.

[2017-04-28 02:14] ankit167 commented on #158
I agree on this. There are scripts across various domains. An organized folder structure is needed.

[2017-05-01 12:32] geekcomputers commented on #155
Feel free to add to the repo

Cheers

On 21 Apr 2017, at 04:37, hhwhbf <notifications@github.com> wrote:

[2017-05-11 04:08] zhuyinjing opened #163 "the error"
[code]
what should i do ?
thanks so much!

[2017-05-12 03:11] #155 closed

[2017-05-13 00:58] lolAJhere commented on #163
try changing `import train` to `from . import train`

[2017-05-17 02:55] #163 closed

[2017-05-18 03:30] w666x commented on #158
I agree on this too.

[2017-05-23 07:52] geekcomputers commented on #158
What do you propose?

On 18 May 2017, at 04:30, w666x <notifications@github.com> wrote:

[2017-05-24 14:30] shreydan commented on #158
@geekcomputers Maybe arrange Python scripts on basis of modules used or type of programs. For eg: API, algorithms, Math, automation, web scraping, PiPy modules, Python's inbuilt modules, string manipulation, etc.

Of course some scripts can come under multiple categories but it also may depend on the purpose of the script.

That is how I organized mine: [shreydan/Python](https://github.com/shreyda

[2017-05-29 06:18] taozhang8 opened #171 "how to start it"
Hey, guys. I want to join it, but how to start it. Anybody could tell me? Thanks for help.

[2017-05-31 06:38] mam8 commented on #171
Fork this Repo, then use PR to do contribution.

[2017-06-05 05:56] rajeshkumargp commented on #171
What does PR means ?

[2017-06-06 11:09] Gear-bao opened #179 "A qusetion About check_file"
why remove the filename from filenames in for ？？
it will  decrease the number of for

[2017-06-07 02:41] mam8 commented on #171
PR stands for Pull Request. It's a term from GitHub.

[2017-06-07 03:06] EroMonsterSanji commented on #179
the filenames are what need to be displayed. If they don't exist or are not readable, then remove them from this list.

[2017-06-07 12:20] Gear-bao commented on #179
In the positive order for cycle, The remove action will reduce the length of the list,
but in for cycle the number will not change.like this

list = [2,4,6,8,10,12]
for num in list:
    if (num%2 == 0):
        list.remove(num)

print list

result :[4, 8, 12]

[2017-06-07 13:12] faresbessrour commented on #179
@Gear-bao Shouldn't the list be empty? I have to try this that's cool

[2017-06-07 14:04] EroMonsterSanji commented on #179
@Gear-bao @faresbessrour
I think this problem happened due to the change of the list.

[code]
the loop finds the list[0] to be removed, and it does.
Then the loop starts finding from the list[1] which is 6. That's why the 4 still exists in list.
You should not use a loop like this to avoid this error.

[2017-06-07 14:38] faresbessrour commented on #179
@Gear-bao @EroMonsterSanji
We can use a for-loop and use something with a negative range steps:
[code]

[2017-06-07 14:47] EroMonsterSanji commented on #179
@faresbessrour
for a small size list, why don't you use a duplicate?

[2017-06-07 22:32] faresbessrour commented on #179
@EroMonsterSanji I always prefer a scalable method if it's efficient enough on small sizes.

[2017-06-08 15:57] olsh0907 opened #181 "How could I change this??"
I have to change this code to array format
What should I have to do?

import numpy as np
import matplotlib.pyplot as plt

#factors
Sun_0 = 1.989 * 10 ** 30
Planet_0 = Sun_0 * 0.05
Radius_0 = 0.7785 * 10 ** 12
Sun_mass = 1
Planet_mass = 0.05
Time_0 = 365.24 * 24 * 3600
Grav_0 = 6.673 * 10 ** -11
Grav_planet = Grav_0 * Sun_0 * 10 ** 6 / Radius_0 ** 2
Grav_sun = -Grav_0 * Planet_0 * 10 ** 6 / Radius_

[2017-06-08 17:34] #181 closed

[2017-06-09 15:44] saikrishnaj opened #182 "Spyder 3.6 is taking too much time to launch"
Hi
I'm using Spyder 3.6 for Python on Windows 10, every time I try to open the editor, it takes nearly 4-6 mins of my time and sometimes even longer. The same happens if I open through Anaconda launcher. Is there anything that I could do to fix it,

thanks in advance
my H/W: i7, 8GB memory, 1 TB SSD

[2017-06-12 12:29] palashgoel7 commented on #32
Can you post the contents of shownfile? You might not need r in the beginning of your input.

[2017-06-13 23:23] faresbessrour commented on #182
@saikrishnaj I have no answer to how to fix it but I suggest you to use PyCharm if you want an editor.

Read [this](https://www.slant.co/versus/1240/1246/~pycharm_vs_spyder) article for a few Pros and Cons to check if you really need to use spyder.

Also I downloaded Spyder once to code and I just uninstalled it after a few minutes

[2017-07-04 10:05] ytho commented on #179
You can just do it this way:
[code]

[2017-07-06 10:11] Gear-bao commented on #179
what diff between stuff and list(stuff) in for

[2017-07-06 11:31] ytho commented on #179
`list(stuff)` will make a second list to iterate over instead of `list`.
This removes the issue of the list changing size while we remove items from it, hence why `[4]` is left over in the above examples.

[2017-07-08 07:22] ayush1999 opened #193 "Support for Python 3.X"
As I saw,  most of the scripts support only **Python 2.x**. There should be a support for **python 3.X** also.

It includes adding aliases for function names, such as raw_input() to input() , adding parantheses to print.

[2017-07-09 12:16] wpcwzy commented on #171
Read this guide,please. https://guides.github.com/activities/hello-world/

[2017-07-11 07:37] debajyotiguha11 commented on #193
hey @ayush1999 I'm currently working on that. separating python 2.x and 3.x check my forked one. After completing ill send pull.

[2017-07-11 15:30] YugankNarula opened #198 "Document classification by it's extension"
Hi,
I need a code in python that classifies a document by it's extension.

Thanks,
Yugank Narula

[2017-07-11 20:35] geekcomputers commented on #198
What have you tried so far?
On 11 Jul 2017, at 16:30, YugankNarula <notifications@github.com> wrote:

[2017-07-14 11:30] fanofxiaofeng opened #200 "Changing a list while iterating over it may cause unpredictable result."
In check_file.py, the list `filenames` is changed on line 40 and line 47.
Thus, some items may skip the for loop (and does not get the existance check and read permission check), when you try to read such items on line 54, an error may be thrown.

For example, suppose there is non-readable file f1 and non-exist file f2 in current directory, and we execute the command `python check_file.py f1 f2`,

[2017-07-15 09:01] cclauss opened #202 "Flake8: two undefined names"
flake8 testing of https://github.com/geekcomputers/Python on Python 2.7.13

$ # stop the build if there are Python syntax errors or undefined names
$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2017-07-15 13:45] geekcomputers commented on #200
Please feel free to change it on the repo

On 14 Jul 2017, at 12:30, 靳阳 <notifications@github.com> wrote:

[2017-07-15 13:46] geekcomputers commented on #202
Feel free to make the changes

On 15 Jul 2017, at 10:01, cclauss <notifications@github.com> wrote:

[2017-07-24 12:31] vishesh1042 opened #209 "dice.py remove 'self' from self.sides_change"
sides_change parameter is passed to the function set_sides. Within the function set_sides, instead of using the sides_change variable directly, self.sides_change is used. It is resulting in an error.

[2017-07-27 20:32] made2591 commented on #209
Fix issue #209 adding more significant print messages and removing self.sides_change in method.

[2017-07-31 08:17] cxy19941228 opened #211 "some questions about class"
I have a c++ code,there are two classes,that in the __init__ function,they need the other class' object. also in one class,__init__ function need itself object as a parameter.
how to deal with such situation in python.
many thanks!

[2017-07-31 09:57] SsN03 opened #212 "Getting error object not callable in my program"
OS : Windows 7
Python 2.7
------------------------------
total=0
temp =0
i=0;
j=1;
counter=0
MIN_val = 100
MAX_val = 0
file = open("C:/Users/Shrikanth/Desktop/Report.csv")
csv_reader = csv.reader(file)
next(csv_reader)

for all in csv_reader:
    FileName, Channel, OrgSize, TransSize = all
    if Channel == "TimesNow_LB":
        total_redn= (float(OrgSize)- float(TransSize))/float(OrgSize) * 100

[2017-07-31 12:41] gemFromJa commented on #212
hey @SsN03 ,

The problem here from what I see is that you are using the same name for a variable and a function. Also, to use a function you need to place it before it is called.

So, try renaming the functions **MIN_val** and **MAX_val** to **find_min_val** and   **find_max_val** and then moving them to the top of the file, or simply above the first call.

soooo:
`def find_min_val( num):`
`    .

[2017-08-10 18:55] ab-anand commented on #32
No need for mentioning r in the start. Simply do this 'c:\python27\showfile.py'.
For more info on this method hit here: [os.stat()](https://www.tutorialspoint.com/python/os_stat.htm)

[2017-08-12 17:11] wodekahao1989 opened #219 "Python"
python study

[2017-08-15 11:18] #121 closed

[2017-08-26 04:55] RaviPunia opened #223 "i am not able to extract link"
page = ('....<a href = "www.facebook.com"> facebook </a>.....')
        Link_start = (page.find('<a href'))
        starting_quote = (page.find('"','Link_start'))
        end_quote = (page.find('"','starting_quote+1'))
        url = (page.find('stating quote+1','end quote'))
        print (url)

[2017-08-29 06:55] anuragkumarak95 opened #224 "[not an issue] use requirement.txt for all depcies."
hey,

really liked these codes. inspirational i must say... :100: ..

Why don't you create a .txt file and put all dependencies for using any of the codes in this source, might be helpful for all.

[2017-08-29 16:10] hungrypanda commented on #223
can you explain the requirement, and try using urllib

[2017-09-03 17:14] RGauthamRam commented on #219
Fixed #219

[2017-09-03 17:15] RGauthamRam commented on #219
Fixes #219

[2017-09-03 17:16] arajput8116 commented on #219
yes

[2017-09-07 17:32] faresbessrour commented on #211
@cxy19941228
Is this what you mean?
[code]

[2017-09-08 15:07] RGauthamRam opened #227 "Comment it!"
For ex20.py
Comment "What is the program and what will it do"

[2017-09-09 17:50] yadneshk commented on #227
the code accepts a simple text file opens it
read() function will read the text in file
seek() will set the pointer to previous statements...which will execute some statements again
and finally it prints three lines of the text file

[2017-09-09 19:03] geekcomputers commented on #224
Good idea, can you expand some more of what you mean dependencies?

Sent from my iPad

[2017-09-10 02:14] RGauthamRam commented on #227
It will be better if you comment in thr program itself..

[2017-09-10 04:47] anuragkumarak95 commented on #224
hey,

What i meant was create a requirements.txt file with all required package's names and versions (pkg_name==v.v.v) to be used in these modules.

when a new fellow coder will fork this project, he/she could just do 'pip install -r requirements.txt' at the root_dir, after which they will have all dependencies for every module in this project.

I can make one for your project if you want, will be

[2017-09-18 05:03] tyshawngaines commented on #227
Looks s if pertains to text files. Personally I'd run it on my desktop app to find out the if's and whats.

[2017-09-21 11:52] #227 closed

[2017-09-28 10:52] gnanasekar6914 commented on #223
Can You Please Explain From were you can't able to pull the request.

Example: git-pull-request is a command line tool to send GitHub pull-request from your terminal.

**Installation**

Use the standard [Python](https://mindmajix.com/python-training) installation method:

`pip install git-pull-request`

[2017-09-29 03:14] zhoujinhai opened #240 "ImportError: cannot import name IOBase?"
I have get a problem when I run  test.py on pycharm, but the code can run success when use IDLE

error message:
[code]

test.py
[code]
and my pycharm setting:
![image](https://user-images.githubusercontent.com/20365125/30999360-5d88ed3c-a507-11e7-83d1-14ba640a7da1.png)

[2017-09-29 15:31] faresbessrour commented on #240
Can you try to reinstall with pip the io package with this command:
[code]

[2017-09-30 01:27] zhoujinhai commented on #240
@faresbessrour sorry! I have try and show follow error:
![image](https://user-images.githubusercontent.com/20365125/31041017-7bea8f96-a5c1-11e7-89f5-4adc366430df.png)

[2017-09-30 03:20] zhoujinhai commented on #240
thanks！it works . it can't run due to my fault that i create a file which named io.py

[2017-09-30 03:21] #240 closed

[2017-10-02 16:11] #224 closed

[2017-10-07 16:40] #209 closed

[2017-10-10 11:48] #158 closed

[2017-11-09 10:28] ArighnaIITG commented on #200
Is this issue closed?

[2017-11-09 11:06] fanofxiaofeng commented on #200
I forgot to close it.

[2017-11-09 11:06] #200 closed

[2017-11-15 10:11] blyleipython commented on #193
Most of the python scripts just support Python3.x

[2017-11-17 13:00] BlackTighr opened #260 "python could not install any script"
I installed `python` from `brew`

    brew install python

then installed pip

    sudo easy_install pip

in Terminal

    $ which easy_install
    /usr/bin/easy_install

    $ which python
    /usr/bin/python

But then when I want to install any Python script I get this:

    Searching for pexpect
    Best match: pexpect 4.2.1
    Adding pexpect 4.2.1 to easy-install.pth file

    Using /Library/

[2017-11-30 14:49] rahuls-19 opened #265 "test"
testing

[2017-11-30 14:49] #265 closed

[2017-12-04 19:56] pepepython opened #268 "paiton meiks mi crai"
paiton meiks mi crai

[2017-12-08 23:13] #37 closed

[2017-12-16 12:22] pjha1994 opened #274 "Facing issues with the youtube script."
~/Desktop/GIT/other/Python$ python youtube.py
Enter the song to be played: hero
Traceback (most recent call last):
  File "youtube.py", line 28, in <module>
    song = songs[0].contents[0].contents[0].contents[0]
IndexError: list index out of range

[2017-12-16 12:23] pjha1994 commented on #260
Which script do you want to install?

[2018-01-02 02:42] sidharthshah commented on #274
I think you're facing this issue either because they keyword "hero" couldn't be found. Try putting in some alternative keyword{s} and see if it still works

[2018-01-14 06:56] hemantkarandikar opened #288 "Doesn't work with windows 7"
Tried to search win10toast replacement for windows 7. Couldn't.

[2018-01-20 07:14] theadityarathi commented on #288
try with windows 10 then

[2018-01-23 07:50] arpitsimt commented on #223
url=input()
html=urllib.request.urlopen(url).read()

[2018-01-31 13:52] mpandey211 opened #294 "Python-Copying a file into a folder present in a A.jar file without extracting"
Hi ,
I was trying  to copy a file into a Class.jar (without extracting it) but it didn't work.
Suppose i have file copy.txt in D:\python\copy.txt and i want this file to be copied into my A.jar/org/here

for this I have written a code in python but what it is doing is , It is taking the contents of copy.txt and pasting the content to target dir-> A.jar/org/. It is not pasting the file instead it i

[2018-02-02 14:06] MasterKN48 opened #296 "tictactoe game error"
when player enter same position again and agian two times, then game not proceed ahead.

[2018-02-05 11:52] leojacob7 commented on #296
Resolved

[2018-02-15 15:32] RGauthamRam commented on #223
Could you specify what's the output you're getting?

[2018-02-25 11:09] rahul6612 opened #302 "heroku myapp.herokuapp.com/admin/ showing Server Error (500) and not serving images from s3 bucket"
the url https://myapp.herokuapp.com working fine but the url https://myapp.herokuapp.com/admin/ showing Server Error (500) and it also not serving the images from the s3 bucket i already did these
`heroku run python manage.py migrate

heroku run python manage.py createsuperuser`

my settings.py file
`"""
Django settings for ecommerce project.

Generated by 'django-admin startproject' using Django

[2018-02-26 00:49] coded92 opened #303 "Conditionals"
Please can you help solve this in Python and explain to me

mystery_int_1 = 7
mystery_int_2 = 2

You may modify the lines of code above, but don't move them! When you Submit your code, we'll change these lines to assign different values to the variables.

The variables below hold two integers, mystery_int_1 and
mystery_int_2. Complete this program below such that it
prints "Factors!" if either of

[2018-03-06 23:38] lionpower7 commented on #303
Hey, Can I Try With Python?

[2018-03-07 00:34] lionpower7 commented on #303
#Please can you help solve this in Python and explain to me

#mystery_int_1 = 7
#mystery_int_2 = 2

#You may modify the lines of code above, but don't move them! When you Submit your code, we'll change these lines to assign different values to the variables.

#The variables below hold two integers, mystery_int_1 and
#mystery_int_2. Complete this program below such that it
#prints "Factors!" if eit

[2018-03-07 00:37] lionpower7 commented on #303
I did It!!
Had to go back to school for this one, But Thank God I Did It.

[2018-03-08 23:45] coded92 commented on #303
check this out

mystery_string = "zizazzle"

You may modify the lines of code above, but don't move them! When you Submit your code, we'll change these lines to assign different values to the variables.

The variable above creates a string. Add some code below that will print based on the maximum number of consecutive z's in the string:
#
- If z appears three or more times in a row, print "I'm sle

[2018-03-08 23:47] coded92 opened #307 "python--"
temperature = -3.7
celsius = True

You may modify the lines of code above, but don't move them! When you Submit your code, we'll change these lines to assign different values to the variables.

Above are given two variables. temperature is a float that holds a temperature. celsius is a boolean that represents whether the temperature is in Celsius; if it's False, then the given temperature is actua

[2018-03-10 21:35] DeViL3998 commented on #307
I have done it. Please check.

[2018-03-12 19:12] lionpower7 commented on #303
Ok i Will try.

On Mar 8, 2018 6:46 PM, "coded92" <notifications@github.com> wrote:

[2018-03-13 20:24] lionpower7 commented on #303
**Problem Solved**

Mystery_String = str(input('Enter a String:'))

One = 'z'
ZZ = 'zz'
Sleepy = 'zzz'

if Sleepy in Mystery_String:
    ZZ == False
    One == False
    print("Im Sleepy...")
elif ZZ in Mystery_String:
    One == False
    print("I Love ZZ Top!")
elif One in Mystery_String:
    print("One is the loneliest number.")
elif One not in Mystery_String:
    print("Who need's z anyway?"

[2018-03-13 20:33] lionpower7 commented on #303
**Write Your Input In Quotation Marks ("").**

[2018-03-13 23:43] coded92 commented on #303
Can you do this

hour = 11
minute = 45

#You may modify the lines of code above, but don't move them!
#When you Submit your code, we'll change these lines to
#assign different values to the variables.

#Around Georgia Tech, there are plenty of places to get a
#late night bite to eat. However, they have different hours,
#so when choosing where to go, you have to think about who's
#still open!
#
#Im

[2018-03-15 01:00] lionpower7 commented on #303
x = [10,11,12,1,2,3,4,5]

y = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13,14,15,16,17,18,19,20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59,]

hour = int()
minute = int()

hour = input("Enter the Hour:")
minute = input("Enter the Minute:")

if hour == x[0]:
    print("BarrelHo

[2018-03-15 01:02] lionpower7 commented on #303
**^Instead of [01,02,03,04,05,06,07,08,09], Just Enter [1,2,3,4,5,6,7,8,9]^**

[2018-03-17 19:32] lionpower7 commented on #303
I did it already, check out conditionals 303 your issue.

On Mar 13, 2018 7:43 PM, "coded92" <notifications@github.com> wrote:

[2018-03-20 15:22] thejuice2e2 opened #312 "TicTacToe.py inputs aren't working"
The player inputs for function inputPlayerLetter(), playAgain(), and getPlayerMove() aren't being recognized and working.  I changed it from input to raw_input and the game is working as expected.  I know the raw_input should be used for strings which makes since why input didn't work for inputPlayerLetter() and getPlayerMove(), but it doesn't make sense why input doesn't work getPlayerMove().

[2018-03-22 02:55] wxde opened #313 "how can I to use the function of pop()?"
example as follow:
          i would like to pop a one value of a list and reture the value to another variable.
 such as:
         value_a = img.pop()
         however the error is value_a is a nonetype.
         so how can I to deal with this problem?

[2018-03-22 09:38] mrchaosbude commented on #313
li= [1,2,3]

po =li.pop()
print (li, po)

For me this workers

[2018-03-22 11:29] wxde commented on #313
thanks , yeap, but i want to pop the first data of li.
such as po =li.pop(0) ,this dosen't work

发自网易邮箱大师
On 3/22/2018 17:38，Maik Thunack<notifications@github.com> wrote：

li= [1,2,3]

po =li.pop()
print (li, po)

For me this workers

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-22 11:37] mrchaosbude commented on #313
https://repl.it/repls/YellowgreenRecursiveQueryoptimizer

Workers too

[2018-03-22 14:00] bertokhoury commented on #312
I simply think raw_input versus input is a matter of Python versions (input being python 3) (raw_input being Python 2)

[2018-03-23 14:59] Naman-Garg-06 commented on #313
If you just want to pop first element of the list, use li.pop(0)
This gives the correct result.
You can check it on the link prvoided below:
https://repl.it/repls/GrayWindySpool

[2018-03-23 15:14] Naman-Garg-06 commented on #307
temperature=float(input())
celsius=input()
if (temperature<=0 and celsius=='True') or (temperature<=32 and celsius=='False'):
  print("Freezing")
else:
  print("Not freezing")

[2018-03-23 15:24] Naman-Garg-06 commented on #303
Mystery_String = str(input('Enter a String:'))

One = 'z'
ZZ = 'zz'
Sleepy = 'zzz'

if Sleepy in Mystery_String:
ZZ == False
One == False
print("Im Sleepy...")
elif ZZ in Mystery_String:
One == False
print("I Love ZZ Top!")
elif One in Mystery_String:
print("One is the loneliest number.")
elif One not in Mystery_String:
print("Who need's z anyway?"

In this solution, there is no need to explicitly

[2018-03-23 15:26] wxde commented on #313
thanks,it works in your link address.
发自网易邮箱大师
On 3/23/2018 23:00，Naman Kumar Garg<notifications@github.com> wrote：

If you just want to pop first element of the list, use li.pop(0)
This gives the correct result.
You can check it on the link prvoided below:
https://repl.it/repls/GrayWindySpool

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHu

[2018-03-23 15:48] lionpower7 commented on #303
Im not sure if it would have worked with zz == False or One == False, i
tried so many ways and times but this is the only thing that worked for me.

On Mar 23, 2018 11:25 AM, "Naman Kumar Garg" <notifications@github.com>
wrote:

[2018-03-23 23:29] a7mado0o opened #315 "OSError: [Errno 13] Permission denied: '/home/ahmed/anaconda2/lib/python2.7/site-packages/swampy'"
why i got this always when i want to install sawampy
OSError: [Errno 13] Permission denied: '/home/ahmed/anaconda2/lib/python2.7/site-packages/swampy'

[2018-03-23 23:29] a7mado0o commented on #315
OSError: [Errno 13] Permission denied: '/home/ahmed/anaconda2/lib/python2.7/site-packages/swampy'

[2018-03-25 01:04] faresbessrour commented on #315
Can you send the command you entered to get that?

[2018-03-25 01:05] faresbessrour commented on #313
@geekcomputers This can be closed

[2018-03-25 17:59] cxm1995 opened #316 "how to use XOR"
ues xor

[2018-03-26 04:03] beebus commented on #316
I assume that you mean that instructions of how to use the XOR cypher need to documented somewhere.

[2018-03-27 00:07] lionpower7 commented on #307
# Tempeture
Temp = -8
# Celcius
Cel =  True

# Conditionals For Temp & Cel To Be Considered Freezing Or Not.
if Cel == True and  Temp <= 0:
    print "Freezing!!!"

elif Cel == True and Temp > 37.7:
    print "Really Hot!!!"

elif Cel == False and Temp <= 32:
    print "Freezing!!!"

elif Cel == False and Temp >= 100:
    print "Really Hot!!!"

else:
    print "Not Freezing"

[2018-03-29 16:55] christianbender commented on #316
@cxm1995  I wrote the XOR cipher.
You can simply type:
[code]

You use the help-function. For instance ```help(XORCipher)``` gets you all informations. Or ```help(XORCipher.encrypt)``` all informations about the enrypt() method.

[2018-03-29 17:06] christianbender commented on #312
Yes. I tried it with Python 2, I got an error. With Python 3 it works fine.

[2018-04-03 12:41] rs03 opened #319 "Python socket server not able to listen ESL LUA COMMAND"
I have created 1 python server which listens on port eg 1234 and lua scripts connects to it . Connection is establishing but not able to send any data to python server. it works well if tried with simple tcp python client .

python server :
"""

    import SocketServer
    import esl

        class ESLRequestHandler(SocketServer.BaseRequestHandler):
            def setup(self):
                pri

[2018-04-11 14:12] blyzhlei opened #325 "headers"
why don't use headers when  you alreadly defined it ?

[2018-04-11 14:33] zicarb commented on #325
Sent from my BlackBerry — the most secure mobile device — via the Rogers Network                                                                                                                                                                           From: notifications@github.comSent: April 11, 2018 10:13 AMTo: Python@noreply.github.comReply to: reply@reply.github.comCc: subscribed@noreply.github

[2018-04-12 12:12] Scott-Tresor opened #326 "connecter"
i'm news

[2018-04-12 17:36] Anubhav-Bhargava opened #328 "Add Travis CI"
Travis CI is free for open source projects. Setup is pretty easy, and the benefits are great.

Setup:
• Add .travis.yml file to the root of this project (example: https://github.com/louisdh/terminal/blob/master/.travis.yml)
• Go to https://travis-ci.org, log in with GitHub and enable this project

[2018-04-14 10:28] shadedKE opened #329 "Google_News .py"
Google_News.py not working due to the following code
[code]
This code is not parsed by
[code]
Due to the fact that there is no xml found in that url.

[2018-04-16 06:58] mohitsharmaaa commented on #329
Thanks for notifying issue.

Problem is resolved till this get merged you can find new code  [here](https://github.com/mohitsharmaaa/Python/blob/master/Google_News.py)

XML parser was not added initially I have added it now.
URL issue is also resolved.

[2018-04-16 07:40] #312 closed

[2018-04-17 03:39] #69 closed

[2018-04-21 04:35] Aakash456 commented on #313
The method pop() removes and returns last object or obj from the list.

Syntax
Following is the syntax for pop() method −

list.pop(obj = list[-1])
Parameters
obj − This is an optional parameter, index of the object to be removed from the list.

Return Value
This method returns the removed object from the list.

Example
The following example shows the usage of pop() method.

#!/usr/bin/python

aLi

[2018-04-28 16:55] #329 closed

[2018-04-29 22:32] bsebloackai opened #334 "Term with mixed case NOT Captured"
https://github.com/geekcomputers/Python/blob/28b25d4b2a0c484b8e905fd54ec5ffeecf6460c8/calculator.py#L44-L50

If you have term = "Sin(20) + cOs(30)", `term.replace(function, withmath)` on LINE 50 above would not work except the whole term has been converted to lower case. Hence input validation is required.

**Possible Solution:**
Add `term = term.lower()` prior to the loop on LINE 47. Hence, this

[2018-05-09 13:29] luanpo1234 commented on #334
You are trying to replace a substring that does not exist in the string **term**.
So if the string is "Cos(20)", **if function in term.lower():** will find it, but the string won't have changed and term.replace("cos", withmath) will raise an exception.

[2018-05-11 10:35] jwadel commented on #334
Yeah. That's the same problem described by @jwadel. Input validation/transformation is required before the loop. Converting the term string to lowercase before looping through the functions list should suffice.

[2018-06-09 21:55] cclauss commented on #328
Step 1 is done...  https://github.com/geekcomputers/Python/blob/master/.travis.yml

[2018-06-10 06:38] cclauss commented on #313
@wxde Can you please close this issue?

[2018-06-10 06:40] cclauss commented on #326
@Scotttresor @geekcomputers Can you please close this issue?

[2018-06-10 06:44] cclauss commented on #325
@Bilingyun Can you please explain which file contains the definition of __headers__ or submit a pull request or close this issue?

[2018-06-10 06:46] cclauss commented on #316
@cxm1995 Can you please submit a pullequest or close this issue?

[2018-06-10 06:50] cclauss commented on #296
@MasterKN48 Can you please close this issue?

[2018-06-10 06:51] cclauss commented on #219
@wodekahao1989 Can you please close this issue?

[2018-06-10 06:52] cclauss commented on #268
@pepepython Can you please close this issue?

[2018-06-12 01:44] #313 closed

[2018-06-13 14:40] Shyam1711 opened #343 "Python script to delete the files from FTP server"
I need a script in python that can delete files on the FTP server and are more than 5 days old.
Example : I have multiple client folder on the FTP server and daily i receive files in these folders.
I need to write a python program that can delete files in these folders which are more than 5 days old.

Any help will be appreciated.

thanks
Shyam

[2018-06-24 21:26] gpa1950 opened #348 "Random function frozen after Python 3.6.6rc1 install."
Could run a program in Idle with -  Random function.
Deleted Python 3.6.5 32 bit.
Installed Python 3.6.6rc1  64 bit
Windows 10 is 64 bit
Computer is 64 bit.
Now I get a - Random function frozen error - with Debug On in Idle.

Looking for a fix for this.

[2018-06-24 21:42] gpa1950 commented on #348
This is apparently a programming issue on my part.
So I am closing this issue.

[2018-06-24 21:42] #348 closed

[2018-06-27 10:48] vipinsivaraman commented on #343
import os
import zipfile
from paramiko import SSHClient, AutoAddPolicy, RSAKey

src_path = 'D:\\userdata\\vip2.txt'
remote_file_path = '//var//tmp//vip2.txt'
remote_pem_path = 'D:\\userdata\\clab1709.pem'
zip_file = 'D:\\userdata\\getfile.zip'
ip, user, pem_file_path = '10.92.132.142','root', remote_pem_path

def get_ssh_client(ip, user, pem_file_name):
    os.chmod(os.path.normpath(pem_file_name)

[2018-07-02 07:20] rbk1379 opened #349 "dict unpacking"
d = {'a':1,'b':2,'c':3}
for key,value in d.items:
    print(value)

TypeError                                 Traceback (most recent call last)
<ipython-input-51-8d57fe0bffcc> in <module>()
----> 1 for key,value in d.items:
      2     print(value)

TypeError: 'builtin_function_or_method' object is not iterable

[2018-07-04 10:29] Siddharth-Vadapalli commented on #349
To print values, use inbuilt values() method of dict.
for value in d.values():
----print(value)

[2018-07-09 04:03] y2kbcm1 opened #352 "wrong naming in Assembler/Readme.txt"
In Assembler/README.txt at the very end, "GUIDE.me" does not exist.

[2018-07-09 16:39] #352 closed

[2018-07-13 08:17] weiyd commented on #349
d = {'a':1,'b':2,'c':3}
for key,value in d.items():
    print(value)

[2018-07-13 08:17] weiyd commented on #349
d = {'a':1,'b':2,'c':3}
for key,value in d.items():
----print(value)

[2018-07-18 14:33] salas182 commented on #349
Seems to have just forgotten the () after d.items():

[2018-07-25 09:19] gauravguptagg commented on #349
Just use a () after **_items_** in the 2nd line of your code.
Or just print values of your dictionary using the in-build method called **_values()_**

`for value in d.values():
    print value`

[2018-08-03 16:59] moshpitdj opened #356 "Capitalize an output file name (date)"
I have this code, that results in: 2018_Aug_TCRArchive.pdf - a simple request has come in to capitalize the month... why can't I figure this out?? Thanks in advance (FYI, I took over this code from another employee who is no longer here).

d = datetime.date.today()
if not d.month == 1:
  dSubtracted = datetime.date(d.year,d.month-1,d.day)
else:
  dSubtracted = datetime.date(d.year-1,12,d.day)

mxd

[2018-08-11 17:12] christianbender opened #357 "Support"
@geekcomputers
Can I help you with the pull requests and issues?

[2018-08-20 14:29] jonesmcj commented on #356
Here is what I came up with I am sure it can be cleaner I have been working with this for 3 hours it is how I learn new languages. I left the prints in so you could work with it to make it fit your needs. I do love me some budweiser!

import datetime
d = datetime.datetime.now()
yy = (str(d.year))
mm = (str.upper(d.strftime("%b")))
dd = (str(d.day))
stfn = "_TCRArchive.pdf"
us = "_"
pdfarchivefilen

[2018-08-20 18:29] anubhavsinha98 opened #358 "Python script for reading and writing in an excel file!"

[2018-08-25 09:55] AprilYoungs opened #360 "When a run the youtube.py error occurred"
Here's the result
[code]

It seems the youtube has change the result structure and don't have a 'href' anymore

[2018-09-01 23:07] dhilmathy commented on #356
@moshpitdj use,

`pdfarchivefilename = '{:%Y_%b_%d}'.format(dSubtracted).upper() + '_TCRArchive.pdf"'`

You can refer this [link](https://www.guru99.com/date-time-and-datetime-classes-in-python.html) & [strftime](http://strftime.org/) to understand on formatting `datetime` as `string` in detail.

[2018-09-16 05:34] kushagra189 commented on #360
I would like to solve the same @AprilYoungs . But it says permission denied when I tried to make a push via new branch(for creating a merge request).

[2018-09-16 06:33] kushagra189 commented on #360
#367  was made. Please look into it. @AprilYoungs

[2018-09-17 06:39] AprilYoungs commented on #360
I've try your new code,but still get the same error.

[2018-09-17 14:48] kushagra189 commented on #360
Works fine on my machine. What error is it showing?
![1](https://user-images.githubusercontent.com/23234327/45630715-d844c580-bab6-11e8-9b31-42642cc2ffa6.png)

[2018-09-18 12:08] AprilYoungs commented on #360
I run the code on the MacOS,maybe the html is different from OS

[2018-09-19 04:45] kushagra189 commented on #360
Any other way to resolve the same?

[2018-09-19 09:27] AprilYoungs commented on #360
Work as expected today.
Maybe  my network is not good,will you add this code
[code]

[2018-09-19 18:41] kushagra189 commented on #360
added.

[2018-10-08 10:43] ankush4144 commented on #219
what is the issue i can help??

[2018-10-08 11:01] arajput8116 commented on #219
I am working on stegnogrphy hiding text into image but after conversion the
image get changed can u solve this problem...

On Mon, 8 Oct, 2018, 4:15 PM ANKUSH GOYAL, <notifications@github.com> wrote:

[2018-10-08 11:43] cclauss opened #400 "Travis CI: Automated testing is in place but not turned on"
See instructions in #290

[2018-10-09 07:05] geekcomputers commented on #357
That might be an idea, I’ll look into that

[2018-11-17 09:45] vinay-deshmukh opened #431 "What kind of programs can we submit to the repo?"
I'm seeing a lot of programs here, and was hoping to contribute some code, but I'm not sure what exactly is the criteria for pushing files to this repository.

If possible, can you add a CONTRIBUTING.MD as a guide for others who may want to contribute?

[2018-11-18 16:47] LeelKumar commented on #307
temperature = input(">::Enter Temp Value =")
celsius     = input(">::Celsius -> Enter True or False:")

if (celsius == True and temperature <= 0) or (celsius == False and temperature <= 32):
    print ("Freezing")

else:
    print ("Not freezing")

[2018-11-18 16:47] LeelKumar commented on #307
temperature = input(">::Enter Temp Value =")
celsius     = input(">::Celsius -> Enter True or False:")

if (celsius == True and temperature <= 0) or (celsius == False and temperature <= 32):
    print ("Freezing")

else:
    print ("Not freezing")

[2018-11-18 17:02] LeelKumar commented on #349
d = {'a':1,'b':2,'c':3}

[value for value in d.values()]

[2018-11-20 05:57] geekcomputers commented on #431
Nice and simple really, write your code and submit it, no real criteria if you think it can help others then push it up here

Cheers

[2018-11-24 20:03] ArunVenkata opened #434 "sendemail.py support for python 3"
The Dependencies need to be updated and support must be extended to python 3.

[2018-11-25 05:42] twanny796 commented on #434
UNSUBSCRIBE

Sent from Mail for Windows 10

From: Arun53999
Sent: 24 November 2018 21:03
To: geekcomputers/Python
Cc: Subscribed
Subject: [geekcomputers/Python] sendemail.py support for python 3 (#434)

The Dependencies need to be updated and support must be extended to python 3.
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or

[2018-12-04 12:59] jinyoungHan opened #441 "Updated to Python3 format"
Some  files have the following problems.

#437 #391
The problem is that python3 and python2 are used together.

So, I would like to take it up for the rest of the files, if no one else is working on it.

[2018-12-05 05:30] #441 closed

[2018-12-05 05:32] jinyoungHan opened #442 "Update to python3"
Some  files have the following problems.

#437 #391
The problem is that both python3 and python2 are used in function.

So, I would like to take it up for the rest of the files, if no one else is working on it.

[2018-12-14 16:22] #316 closed

[2018-12-16 17:01] jinyoungHan commented on #431
I think it's a very good policy.

[2018-12-19 17:55] devesh23 commented on #434
Referencing merge request https://github.com/geekcomputers/Python/pull/440

This issue should be closed as the ask has been implemented.

[2018-12-28 01:47] fanjindong commented on #442
1

[2019-01-05 09:47] kolyamf commented on #303
zzz = "zzz"
zz = "zz"
z = "z"
if zzz in mystery_string:
    zz == False
    z == False
    print("I'm sleepy...")
elif zz in mystery_string:
    z == False
    zzz == False
    print("I love ZZ Top!")
elif z in mystery_string:
    zzz == False
    zz == False
    print("One is the loneliest number.")
else:
    print("Who needs z anyway?")

[2019-01-08 03:59] carl123432 opened #455 "Need help with a error in my code, that i cannot see for my self! sorry as it may be me being stupid"
So, i have been making my own login system, and saving it to a txt file. i have completed the basic's nearly, Login, Register, and now i am trying to add a forget password and username functions. so basically i have a if statement that checks if the user name is in one of the files. and then sends a recovery code. well for this case its a var assigned to randint(1000,9999) thats to reset the passw

[2019-01-08 04:52] gepcel commented on #455
[code]

You used usernames as file names, but used an email as a filename to search in files.

[2019-01-08 10:41] cclauss commented on #434
Can this issue be closed?

[2019-01-08 10:41] cclauss commented on #442
Can this issue be closed?

[2019-01-08 10:44] cclauss commented on #307
@coded92 Can we please have a better title on this issue?

[2019-01-08 10:45] cclauss commented on #288
Can this issue be closed?

[2019-01-08 10:49] cclauss commented on #260
Can this issue be closed?  __brew install python__ already installs __pip__.  Do not use "easy_install".  See https://packaging.python.org/discussions/pip-vs-easy-install

[2019-01-08 10:51] cclauss commented on #274
@pjha1994 Can this issue be closed?

[2019-01-08 10:52] cclauss commented on #431
@vinay-deshmukh Can this issue be closed?

[2019-01-08 11:59] carl123432 commented on #455
Thanks a lot, im still fairly new to python, and self teaching inst easy on your own without someone you can ask for help, thanks

[2019-01-08 12:21] carl123432 commented on #455
Sorry i still cant point down to were the error is

[2019-01-08 13:54] liuhuo23 commented on #455
Thanks a lot

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: carl123432 <notifications@github.com>
发送时间: Tuesday, January 8, 2019 12:00:57 PM
收件人: geekcomputers/Python
抄送: Subscribed
主题: [geekcomputers/Python] Need help with a error in my code, that i cannot see for my self! sorry as it may be me being stupid (#455)

So, i have been maki

[2019-01-08 14:43] jinyoungHan commented on #442
Sure.

[2019-01-08 14:43] #442 closed

[2019-01-08 16:12] carl123432 commented on #455
Sorry i still cant point down to were the error is

[2019-01-09 01:17] gepcel commented on #455
Is this the right place for we to discuss this kind of question?

Anyway, if following your own approach, modifying as little code/structure as possible, you can try replacing the following code:

[code]

[2019-01-10 19:23] cclauss commented on #32
Can this issue be closed?

[2019-01-10 19:23] #202 closed

[2019-01-10 20:16] cclauss commented on #349
Can this issue be closed?

[2019-01-10 20:45] cclauss opened #459 "Undefined name: createMessageWithAttachment() in sendemail.py"
@arijitthehacker and @jinyoungHan as the two contributors to __sendemail.py__, perhaps you can help.  If #328 and #400 were fixed then we would have only [one issue](https://travis-ci.org/cclauss/itinerant-tester/builds/477655852#L216) that would break our Travis CI build.  It is related to the fact that __createMessageWithAttachment()__ is [called on line 42](https://github.com/geekcomputers/Pyth

[2019-01-17 18:35] cclauss opened #462 "Legacy print statements are syntax errors in Python 3"
@weiyanhua100 Legacy print statements are syntax errors in Python 3 but print() function works as expected in both Python 2 and Python 3.

These issues would be automatically detected if #400 was done.

[flake8](http://flake8.pycqa.org) testing of https://github.com/geekcomputers/Python on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]
__E9

[2019-01-18 06:20] Geethikagb commented on #303
# Python 3
mystery_string = input("Enter input string : ")

if 'zzz' in mystery_string:
    print("i'm sleepy...")
elif 'zz' in mystery_string:
    print("i love ZZ top!")
elif 'z' in mystery_string:
    print("One is the loneliest number")
else:
    print("who needs z anyway")

[2019-01-18 06:36] Geethikagb commented on #307
temperature = eval(input("Enter Temperature : "))
Celsius = input("Enter input(Celsius = True/Fahrenheit = False) : ")

if Celsius == True:
    if temperature <= 0:
        print("Freezing")
    else:
        print('Not Freezing')
else:
    if temperature <= 32:
        print("Freezing")
    else:
        print("Not Freezing")

[2019-01-21 14:19] #349 closed

[2019-01-28 19:57] vivekjainism opened #474 "what seems to be the problem here."
![screenshot 37](https://user-images.githubusercontent.com/46480340/51862607-f8d63380-2364-11e9-8000-a28ffaaf258c.png)

[2019-01-29 14:59] FloxiGH commented on #474
Your problem is that you wrote true, not True. You have to use an upper Case letter. Same thing with False

[2019-01-31 02:57] Satya-SriRam-Varma opened #476 "New to python had a problem"
hello,everyone I was having time to learn python so i started learning it from day before yesterday,now I am trying to make snake game from curses module and I ran into A TROUBLE, figured someone from here would lend me some of their experience regarding this

class Snake(object):
    def _init_(self):
        self.x='Hiss!'

    def method_a(self,foo):
        print(self.x +' '+ foo)

snake = Sna

[2019-01-31 03:02] Satya-SriRam-Varma commented on #476
and sorry for some reason github is not allowing me to put UNDERSCORE before and after init

[2019-01-31 06:42] AronYang commented on #476
Please replace 'init'  to '__init__'.

[2019-01-31 06:44] AronYang commented on #476
replace 'init'  with  `__init__`

[2019-01-31 06:48] AronYang commented on #476
I see your picture. that is `_init_`.  the correct is `__init__`

[2019-01-31 07:56] Satya-SriRam-Varma commented on #476
Thank you AronYang

[2019-02-10 15:28] vinay-deshmukh commented on #431
Sure

[2019-02-11 12:26] HoreeChen commented on #476
good eye！

[2019-02-13 15:18] Abhi050 commented on #476
"""This is my first help in the open source  or first comment """
Replace init by __init__
the two underscores before and after init

[2019-02-16 23:24] christianbender opened #479 "Request on geekcomputers"
@geekcomputers Can I help you with the process the pull requests? For example testing or marking with labels, or merging. At the moment I support repositories of the follwing project [TheAlgorithms](https://github.com/TheAlgorithms)

[2019-02-20 21:18] #358 closed

[2019-02-23 11:56] jayakar-manoharan opened #483 "Issue in Conway's Game Of Life, Author Anurag Kumar"
When running the code it shows the below error
 **line 101, in <module>
    if len(sys.argv)!= 2: raise Exception(usage_doc)
Exception: Usage of script: script_nama <size_of_canvas:int>**

[2019-02-23 21:21] geekcomputers commented on #479
Yes I don’t mind just need to know to set this up

Regards
Craig Richards

Blog : http://thegeekblog.co.uk
Email : craig@geekcomputers.co.uk
Twitter : @geekcomputers
Instagram : @thegeekblog

[2019-02-23 22:42] christianbender commented on #479
@geekcomputers No problem. I can help you. Can you give me privileges for creating labels. Then I can label the pull request that I have review.

[2019-03-02 15:54] QuantumNovice commented on #483
Run the script from command line with arguments "conway.py int int"

[2019-04-11 23:36] Harika2907 commented on #474
Replace "true" with "True" and your problem is solved. In python Boolean values are indicated by **"True"** and **"False"**.

[2019-04-11 23:53] Harika2907 commented on #307
def isFreezing():
        if celsius and temperature <= 0:
                print("Freezing")
        elif not celcius and temperature <= 32:
                print("Freezing")
        else:
                print("Not Freezing")

[2019-04-16 15:47] Gliterament opened #494 "Url change in weather scrapper"
The url of query of city has already changed, and there's national code between city name and 'https://www.wunderground.com/weather/'
for example:
the 'https://www.wunderground.com/weather/in/taizhou' doesn't work while 'https://www.wunderground.com/weather/cn/taizhou' works

[2019-05-05 11:56] kennycontreras commented on #315
Try with this.
`
pip install swampy --user
`

[2019-05-25 09:20] geekcomputers commented on #479
Think this is done

Regards
Craig Richards

Blog : http://thegeekblog.co.uk
Email : craig@geekcomputers.co.uk
Twitter : @geekcomputers
Instagram : @thegeekblog

[2019-05-29 19:20] yahyasheikhnejad opened #498 "Python command os.path.isfile"
I know maybe my question is not relevant but please help!
print( os.path.isfile(os.getcwd()) )
gives False!
and
print(os.path.isfile('C:/Windows'))
print(os.path.isfile('C:\\Windows'))
False
False
how could it be possible?
would you please help in this regards?

[2019-05-30 08:05] makcmoscow commented on #498
Maybe coz it is don't file, it is a folder?

[2019-05-30 09:01] yahyasheikhnejad commented on #498
yes! you are right!
this command just detect files, not folders!
Thank you so much for your help and support.

[2019-05-30 09:13] makcmoscow commented on #498
You are welcome, mate! )))

[2019-06-03 14:10] ANDREW-LAMICHHANE commented on #476
Hey your code:
class Snake(object):
	def init(self):
		self.x='Hiss!'
	def method_a(self,foo):
	print(self.x +' '+ foo)

snake = Snake()
snake.method_a('Says the snake')

Mistakes:
#1 init --> __init__
#2 __init__  ---> it initializes code variable , so any code inside it is global i.e restricited to itself and not
                         availabe to method_a
#3 var x has not been made in the ins

[2019-06-03 14:11] ANDREW-LAMICHHANE commented on #476
Hey your code:
class Snake(object):
def init(self):
self.x='Hiss!'
def method_a(self,foo):
print(self.x +' '+ foo)

snake = Snake()
snake.method_a('Says the snake')

Mistakes:
#1 init --> __init__
#2 init ---> it initializes code variable , so any code inside it is global i.e restricted to itself and not
availabe to method_a
#3 var x has not been made in the instance i.e ---> [def__init__(self, x)

[2019-06-03 14:12] ANDREW-LAMICHHANE commented on #476
Hey your code:
class Snake(object):
def init(self):
self.x='Hiss!'
def method_a(self,foo):
print(self.x +' '+ foo)

snake = Snake()
snake.method_a('Says the snake')

Mistakes:
#1 init --> <__init__>
#2 init ---> it initializes code variable , so any code inside it is global i.e restricited to itself and not
availabe to method_a
#3 var x has not been made in the instance i.e ---> [def__init__(self,

[2019-06-03 17:58] makcmoscow commented on #476
REALLY????

Global variables are evil! Never do like this...

[2019-06-09 13:40] lakshyabatman opened #499 "Python file to rename multiple file names in a directory"
While working over several projects in web development, the most irritating thing is having image files of different name and converting into smaller and simpler file names i.e(1.jpeg,2.jpeg etc).

I can create a python script for the same, on running the script it will change all the files to numerical file names.

[2019-06-28 19:14] Amyth07 commented on #494
can I take this one?

[2019-06-30 17:47] cclauss opened #503 "3 Python files contain syntax errors"
[code]

[2019-07-17 02:25] harisijazwarraich commented on #494
country_code = input('Enter Country Code:')
city = input('Enter City:')
url = (f'https://www.wunderground.com/weather/{country_code}/{city}')

you can have this code. here 'in' in the url acts as a country code, so there is no city named taizhou in India.

[2019-07-17 02:26] harisijazwarraich commented on #494
"country_code = input('Enter Country Code:')
city = input('Enter City:')
url = (f'https://www.wunderground.com/weather/{country_code}/{city}')"

you can have this code. here 'in' in the url acts as a country code, so there is no city named taizhou in India.

[2019-07-19 12:47] numanbtt opened #509 "Logo Design"
Greeting Sir!
I'm a logo designer and can design logo for your project. As visual appearance effect a lot to project so having a unique logo for your project will effect people engagement in your project.
If you want a logo for project,you can inform me and open an issue about logo requirement.

[2019-07-22 05:36] Unknow-gui commented on #476
give you a thubs up

[2019-07-22 05:40] Unknow-gui opened #513 "how should i learn python"
python has many application.i need to learn in every direction or one direction?

[2019-07-22 08:05] ablil98 commented on #513
Python is a very flexible programming language like a swiss army knife, start by learning the basic stuff, loops, variables, classes ..., and when I mean start by learning the basic stuff, I mean understand them very well, how they work under the hood.
After that it become easier for you to do work with Python in any direction you want, data science, web dev, gaming .... AND THIS IS WHY PYTHON IS

[2019-07-22 08:46] Unknow-gui commented on #513
Thank you for your advice. I have collected the website you share, and I have bought a basic book to learn. I am just a novice programmer. Can a single Python project be created independently?

[2019-07-22 14:26] ablil commented on #513
what do you mean by 'Can a single Python project be creatd independently ?' ???
If you mean building an entire project with Python, the answer is YES ( but sometimes Its harder to do some stuff with Python, for example when your work reside on memory addresses and pointers, Python is not the best language for this type of work )

[2019-07-23 02:19] Unknow-gui commented on #513
Can python be mixed with other computer languages?What other languages do you think I need to learn?What are the minimum skills you need to learn if you want to do this kind of work?thank you

[2019-07-23 03:37] sunson1980 opened #515 "When a run the youtube-downloader fast.py error occurred"
python '.\youtube-downloader fast.py' 'ht

Traceback (most recent call last):
  File ".\youtube-downloader fast.py", line 17, in <module>
    "-x"+threads
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64\lib\subpr
ocess.py", line 267, in call
    with Popen(*popenargs, **kwargs) as p:
  File "C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64\lib\subpr
ocess

[2019-07-24 14:47] Seenivasanseeni commented on #503
This can be closed as all the syntax errors mentioned are fixed.

[2019-07-24 15:16] cclauss commented on #503
Let's solve the ___undefined names___ before closing.

[flake8](http://flake8.pycqa.org) testing of https://github.com/geekcomputers/Python on Python 3.7.1

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that can halt the runtime with a SyntaxError, NameError, etc. These 5

[2019-07-28 11:45] zarszz commented on #513
1. python can mixed with other computer language, but you may need something name 'API', with API your code can communication each other even if have different language
2. If you newly into programming or have zero knowledge, i think python is good for you, but learn programming is not just about languages, but algorithm and data structures
3. try to solve several problem in web-based challenges,

[2019-08-04 23:30] Safaamahrach opened #517 "measure_time(Timer) for a process"
salam'
Please I want create a Timer (with start, stop, reset functions) for that  I use the following program
[Timer.txt](https://github.com/geekcomputers/Python/files/3465429/Timer.txt)

and I make a simple example to call the timer program for timing a process
[call_Timer.txt](https://github.com/geekcomputers/Python/files/3465433/call_Timer.txt)

I always get the next result (None)
![image](http

[2019-08-09 08:18] Rapheal-Jones commented on #517
in start and stop function you have to return to get the values in function call
[Timer.txt](https://github.com/geekcomputers/Python/files/3485372/Timer.txt)

[2019-08-12 22:30] Safaamahrach commented on #517
it s ok thank you

[2019-08-12 22:30] #517 closed

[2019-08-15 13:47] krishnakakade1999 commented on #513
Hey If your newbie then you can start from the basic
1.printing  then statement to conditional statements like if else and then loops and all functions objects classes method in python

2.<b>i Specially recommend one site to you [https://www.w3schools.com/python/](url)</b>
3.and you can also refer official documentation from the python
4.and take a python Zero to hero Course udemy
<b>And now close

[2019-08-16 01:55] yurnery opened #519 "Why Python map() is a global function?"
## bg
Hi, I'm new in Python, and I have learned `swift, js` before.

## quetion
I want to know that why python declare `map(), filter()` as  a global function, not an object method, just like `list.map()`? it is more common in other languages.

 I take a look at `<fluent Python >` book, it explain why use `len(str)` but not `str.len()`, but i can't found why `map, filter` method is declare in this

[2019-08-20 14:00] Sheldon04 opened #521 "ItemNotFoundError"
mechanize._form_controls.ItemNotFoundError: name='mini_series' label=None id=None
???????????someone helps me

[2019-08-25 14:37] MarvinKweyu opened #522 "Google search result scraper"
I've noticed I can't seem to scrape the results anymore.
On my debug console:
[code]
An empty list. Despite the fact the results are under the class `.r` with links in the `a` element.
Anyone else having trouble?

[2019-08-31 14:10] MeNsaaH commented on #522
Checkout https://github.com/bisoncorps/search-engine-parser. It provides easy to use API for scraping

[2019-08-31 19:02] MarvinKweyu commented on #522
That's a really nice project you got :clap: :clap: :. Looking forward to some contribution

[2019-09-02 11:36] lkkplau0988 commented on #476
I copy it to run on python first,I don't know the error

[2019-09-05 15:22] MarvinKweyu commented on #476
Can you be more specific @ikkplau0988?

[2019-09-05 16:06] lkkplau0988 commented on #476
I try to run the program again,thanks

[2019-09-30 00:13] NavonilDas opened #528 "Few Contribution"
I would like to contribute
1. Few PDF examples using FPDF
2. Read CSV without using Pandas

[2019-09-30 20:52] theycallmecharlie opened #531 "Cannot Push"
remote: Permission to geekcomputers/Python.git denied to theycallmecharlie.

can i have permission to push my commits?

[2019-09-30 20:58] theycallmecharlie commented on #528
Me too
1 - Threads
2 - Steganography using crypto

[2019-10-01 04:25] incarnadined commented on #531
You'll have to create a pull request that the admins an review and push

[2019-10-01 04:37] Bubbbble commented on #531
mute the thread

[2019-10-01 09:08] theycallmecharlie commented on #531
I can't create a pull request :(

[2019-10-02 10:39] arip995 opened #548 "add fibonnacci series"

[2019-10-02 11:41] nataw commented on #548
I would like to work on it

[2019-10-02 12:14] cclauss opened #552 "Hacktoberfest: Python 3 compatibility issues"
91 days until Python 2 end of life.  https://www.python.org/doc/sunset-python-2

[flake8](http://flake8.pycqa.org) testing of https://github.com/geekcomputers/Python on Python 3.7.1

$ __flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics__
[code]
__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that can halt the runtime with a SyntaxErro

[2019-10-03 10:31] #548 closed

[2019-10-03 13:37] WHYBBE opened #572 "There are some problems in Python/Counting-sort.py"
If you enter a float to element, this program would return a ValueError because of invalid literal for int(). This is ok. It can be fixed by adding error judge.
But if you enter a negative number to element, there would not have a error warning. It causes by Python‘s special grammar.
[code]
The result will be 2. So I think there should add some ways to avoid this situation.
I am poor in English. I

[2019-10-05 01:17] CodeGuro commented on #572
@WHYBBE Python indexes can be a negative number as per the language. Negative indexes are offsets from len(list)-index, so an index of -1 gives you the last element, an index of -2 gives you the 2nd last element, etc...

[2019-10-09 17:36] laurent-pck commented on #552
The above PR fixes all but one error given by flake8. In sendemail.py there is commented code. I don't know if it would be better to remove it or to let it uncommented.

[2019-10-09 17:48] cclauss commented on #552
See #587

[2019-10-18 14:45] nishikeshKardak opened #621 "ModuleNotFoundError: No module named 'win32api"
While running `cricket_live_score.py` it throws the following error. Even if the module is already installed.
#### Error Message:
[code]

#### Installed Module:
[code]

[2019-10-18 18:42] XxPro1445GamerxX commented on #621
Try pip install pypiwin32 instead.

[2019-10-19 03:30] nishikeshKardak commented on #621
The package is already installed.
[code]

[2019-10-19 08:25] ananthsaradhi opened #623 "Filename Issue in Win10 -Quick_sort.py"
Win 10 does not seem to differentiate between quick_sort.py and Quick_sort.py, causing errors during commit/push.
I request you to change the filenames appropriately.   In my push,  the filename indicates the issue at hand.
-Ananth

[2019-10-19 17:25] NickTheBit commented on #623
Why are there 2 quick sorts?
Maybe one should be removed?

[2019-10-20 07:12] ArunVenkata commented on #521
Which File Are you talking About?

[2019-10-25 09:49] charlesld opened #651 "【Windows_Wallpaper_Script】 can we found where the place for the pics"
I"m  doing same thing that copy windows focus pics， but I don't konw where the place belongs。
usually when I see the Interested pics on the login screen， I would search it and add info to my gallary manaully.
Such like below.
![image](https://user-images.githubusercontent.com/23304239/67561001-9cb30b00-f74e-11e9-8857-f83618afb4f9.png)

And cloud we found some way , auto fetch the pic info ?

Thx~~

[2019-10-28 09:50] mohantyabhijit074 commented on #621
try to run
pip install pywin32
and in conda
conda install pywin32

[2019-10-31 20:31] cf2525 opened #662 "Conditionals with time"
Looking for help on this...

hour = 3
minute = 45

There are plenty of places to get a late night bite to eat. However, they have different hours, so when choosing where to go, you have to think about who's still open!

Imagine you're choosing between the following restaurants:

Barrelhouse: Closes at 11:00PM
Taco Bell: Closes at 2:00AM
Cookout: Closes at 3:00AM
Waffle House: Never closes. Ever.

[2019-11-01 11:46] hanzohasashi33 opened #663 "error in youtube.py"
i'm getting the same youtube video irrespective of whatever i search in input song.
please can you look into this issue?

regards

[2019-11-05 09:27] zhenglei0102 opened #668 "error in guess_the_number_game.py"
These two lines are wrong.
frame.add_button("range[0-1000)", range(1000))
frame.add_button("range[0-100)", range(100));
The correct codes are:
frame.add_button("range[0-1000)", range_of_1000())
frame.add_button("range[0-100)", range_of_100())

[2019-11-22 21:53] AlexanderCecile opened #673 "Multiple issues with the CountMillionCharacters family of programs."
The README states:

Yet `CountMillionCharacter2.0.py` seems to be counting words, and [says as much](https://github.com/geekcomputers/Python/blob/60ec2640a2e773e3286432010c884f722d465859/CountMillionCharacter.py#L2).

There is also a folder `CountMillionCharacters-Variations` which contains a third version of the program, named `variation1.py`. It would obviously be good to decide on what the `Cou

[2019-12-03 20:45] tyryrich opened #676 "Error with Blackjack_game"
**blackjack.py**:
On line 89, the datatype for the user input is a string which doesn't match up with the datatype for the if statement condition on line 90. Since the else statement is automatically executed, the player stays even if wanting to play their hand. A quick fix would be to change line 89 to:

k = int(input('Want to hit or stay?\n Press 1 for hit and 0 for stay '))

**blackjack_rr.py**

[2019-12-25 11:17] #572 closed

[2020-03-07 12:06] nvrton opened #688 "I am stuck with my Rock, Paper, Scissors python game"
I am new to GitHub so if I have posted this help request in the wrong place please let me know. I am trying to make rock, paper, scissors in python without googling the answer and I have come across an issue. I am playing around with it and the only option the computer is picking is Rock. It will not pick paper or scissors, no matter what the user inputs. Yesterday it was working fine and the comp

[2020-03-07 13:16] f-boss commented on #688
I don't know if this request for help is wrong, but I'd be happy to help you.

First I took a look at your code, I tried to run your code on my local machine, and there was no exception, but because the next line of the main() function you defined when the email came was indented, I didn't think it was indented.

The following is the operation result of my machine, if you have any special importan

[2020-03-08 16:40] nvrton commented on #688
Alright, thank you for you help! If I find anything out I will be sure to let you know! Sent from Mail for Windows 10 From: f_方老板Sent: 07 March 2020 13:16To: geekcomputers/PythonCc: nvrton; AuthorSubject: Re: [geekcomputers/Python] I am stuck with my Rock, Paper, Scissors python game (#688) I don't know if this request for help is wrong, but I'd be happy to help you. First I took a look at your co

[2020-03-10 03:10] Captain52hz commented on #688
I read your code and want to tell you something about it.
I think the following code line is True when your input is rock or Rock
if computer == 1 and user == "Rock" or user == "rock":
I suggest it could write as following:
if computer == 1 and (user == "Rock" or user == "rock"):
do you agree?
I have poor English and hope help you!

[2020-03-10 07:26] nvrton commented on #688
Ah right okay! Thank you for the tip!

On Tue, 10 Mar 2020, 03:10 Captain, <notifications@github.com> wrote:

[2020-03-19 11:44] Arthur1989-Lu opened #697 "python"

[2020-03-20 17:06] aartib273 commented on #503
@cclauss is the undefined name error still not resolved?? I can work on it.

[2020-03-20 17:34] cclauss commented on #503
Still needs work... https://github.com/cclauss/Python-2/actions

[2020-03-20 18:34] cclauss commented on #697
@Arthur1989-Lu Can you please close this issue?

[2020-03-20 23:33] #697 closed

[2020-03-22 20:57] #552 closed

[2020-03-22 20:58] #503 closed

[2020-03-22 20:58] #462 closed

[2020-03-22 20:58] #459 closed

[2020-03-22 20:58] #400 closed

[2020-03-25 13:46] Yorozuya-san commented on #663
I could not find any issue with it.
Could you please elaborate

[2020-03-25 20:25] Gabighz commented on #668
It should instead be:
[code]

Since:
[code]
([Reference](http://www.codeskulptor.org/#user29_5JQUSZ4lDP_1.py))

[2020-03-25 20:45] #668 closed

[2020-03-26 14:25] saurabh896 commented on #223
@RaviPunia what is the error your getting?

[2020-03-26 14:27] saurabh896 commented on #663
Can you share the code?

[2020-04-01 17:59] hanzohasashi33 commented on #663
Sorry, I figured it on my own.
Thanks for the support anyways

[2020-04-01 17:59] #663 closed

[2020-04-12 13:54] whitehathacker-git opened #711 "Geh"

[2020-04-12 20:10] Prince326 opened #714 "Why java code in python module"
why there is java BST program in python module

[https://github.com/geekcomputers/Python/blob/master/binarySTree%20isTrue_YashV1729.Java](url)

[2020-04-16 17:20] suzatathapa commented on #307
if  celsius and temperature <=0 :
    print("Freezing")

elif  not celsius  and temperature <= 32  :
    print ("Freezing")
else:
     print ("Not freezing")

Instead of checking Fahrenheit and Celsius
together, we could convert one to the other:

if not celsius:
    temperature = (temperature - 32) / 1.8
if temperature <= 0:
    print("Freezing")
else:
    print("Not freezing")

[2020-04-16 18:11] Prince326 opened #716 "Url not found error"
The link of the result is expired also the format to fill the form has been changed.

https://github.com/geekcomputers/Python/blob/master/jee_result.py

[2020-04-17 08:44] codePerfectPlus commented on #688
You can use .upper of .lower to reduce program complexity.

[2020-04-17 09:06] Krazy0002 commented on #688
Ah yes, okay, thank you

On Fri, 17 Apr 2020, 09:44 Deepak Raj, <notifications@github.com> wrote:

[2020-04-18 03:54] nikhilkumar262 opened #718 "Python"

[2020-04-18 14:16] Prince326 opened #719 "Error in the following program"
https://github.com/geekcomputers/Python/blob/master/Weather%20Scrapper/weather.py

when i run the above program it gives the following error-

28 Time = datetime.now().strftime("%H:%M")
---> 29 Date = out2.find('span', attrs={'class': 'date'}).get_text()
     30 Temperature = out2.find('span', attrs={'class': 'temp'}).get_text()
     31 Temperature = " ".join(Temperature.split())

AttributeError:

[2020-04-18 14:17] #714 closed

[2020-04-19 08:29] DhruvDoshi commented on #718
What's the problem sir ?

[2020-04-19 08:51] raja040204 commented on #718
No problem

[2020-04-19 13:39] itsvinayak commented on #719
This [program](https://github.com/geekcomputers/Python/blob/master/Weather%20Scrapper/weather.py) use beautifulsoup to scrap webpage to find the weather info. the error you are getting is because it is unable to find `"small-12 medium-4 large-3 columns forecast-wrap"` class in requested webpage so `soup = BeautifulSoup(html, 'lxml')`  function  returns `None` .Edit code a bit and add **if statemen

[2020-04-19 13:41] itsvinayak commented on #718
@geekcomputers request to close this issue

[2020-04-19 13:41] itsvinayak commented on #719
@geekcomputers request to close this issue

[2020-04-19 13:42] itsvinayak commented on #716
@geekcomputers request to close this issue

[2020-04-19 13:43] itsvinayak commented on #711
@geekcomputers request to close this issue

[2020-04-19 13:50] #716 closed

[2020-04-19 14:02] raja040204 commented on #718
Which issue

[2020-04-20 05:56] itsvinayak commented on #718
this one

[2020-04-21 17:41] satyam93sinha commented on #498
Thus, this issue can be closed now!

[2020-04-22 15:29] Prince326 opened #720 "Java code in Python module"
Why there is java BST program in python module?

https://github.com/geekcomputers/Python/blob/master/BST%20isTrue_YashV1729.Java

[2020-04-22 15:29] #719 closed

[2020-04-24 19:23] Prince326 opened #722 "Fix the name of the folder"
I think the name of the folder should be notepad not nodepad.
link - https://github.com/geekcomputers/Python/tree/master/nodepad

[2020-04-25 15:10] raja040204 opened #724 "Hello world"

[2020-04-25 18:05] #722 closed

[2020-04-25 21:23] #720 closed

[2020-04-26 17:21] aliosmnakgn opened #726 "python"

[2020-04-26 18:02] #726 closed

[2020-04-28 10:08] timush-a commented on #688
Hello. I think that's you can use dictionary for determinate the winner.
Like this for example:
`from random import choice

def computer_choice():
        options = ('rock', 'paper', 'scrissors')
        return choice(options)

game_state = {
    'rock-rock': 'Tie',
    'rock-paper': 'You win',
    'rock-scrissors': 'Computer win',
    'paper-paper': 'Tie',
    'paper-scrissors': 'You win',
    'p

[2020-04-30 08:13] fashionxavier opened #730 "Python"

[2020-04-30 12:41] itsvinayak commented on #724
?

[2020-04-30 13:03] Xzz-haxx commented on #724
???

чт, 30 Апр 2020 г., 17:44 vinayak <notifications@github.com>:

[2020-04-30 18:06] sandeshavadhani commented on #688
Created one using object oriented programming
[code]

[2020-05-03 18:34] Xelany57 opened #731 "testlines.py code not working"
Hello,

this is probabaly the simplest of all codes in the zip file but I cant make it work

It should create a test.txt file in the same directory but it doesnt do anything for me
Plus i dont understand why there is a "s = " before the write statement
Sorry Im new to python and github, I just finished the crash course python from no starch press

BR,

[2020-05-04 06:22] tanishqvyas commented on #731
@Xelany57 Hey, I'll be happy to help you on this. What python version are you suing? The code seems to work perfectly well for me. Could you elaborate a bit more about the issue you are facing.

The s=  isn't mandatory, it just holds the number of characters we wrote in the file.

[2020-05-04 16:30] Xelany57 commented on #731
I think I have the latest version of Python (3.7.4)

Well I assumed that when running the file using the python interpreter it should create a text file named "test.txt" with written inside "I am beven"

For me when I take it just does nothing when I run it using python, I place it in another folder to make sure im not missing the output file, but really it doesn't do anything, I see the window ap

[2020-05-05 15:55] Xelany57 commented on #731
See my previous answer please : )

[2020-05-06 07:29] tanishqvyas commented on #731
@Xelany57 Isn't Pythone interpreter used to interpret code rather than executing files ? I suggest you run the file using some IDE or on terminal using the command
For Windows
[code]
For Linux

[code]

[2020-05-06 07:32] tanishqvyas commented on #731
@Xelany57 I ran the file by placing it in a folder named Downloads. Then I changed my present working directory to Downloads. After that I opened my terminal and typed

[code]
The code ran just the way you expected

[2020-05-06 18:31] Xelany57 commented on #731
@tanishqvyas Thanks for the help as I suspected it was very simple

I ran it using "python file" command and it output the file as expected, I played with the program a bit and it works as intended

I assume you are on linux because when I run "python3 file" command it doesn't work, but when I remove the 3 it works

I thought the interpreter was able to run the code, I was wrong on that

A bit off

[2020-05-07 06:53] tanishqvyas commented on #731
@Xelany57 I am glad to help you. Yes, I am on linux. I mostly learn from online resources. Since you specifically mentioned Django.
For basics you can refer to these
1. Freecodecamp's youtube channel has a Django Crash course.
2. Django Girls is a really nice website to learn Django.
3. One of the best and official resources is  obviously the documentation itself.

I could suggest you a bit more d

[2020-05-11 06:00] UnstoppableGeek1 opened #732 "Help with the while loop"
I only want this while loop to run when word1 is a string but it also runs when I enter a integer. Does anyone know how to make it throw an error when I enter a number but continue running as long as I enter a string. That is why I added the while loop in the first place.

Here is the code:

while word1 != number:
		word1 = input("Enter a word: ")
		print(word1)
		print("There are,",len(word1), "l

[2020-05-11 07:09] atharvakadlag commented on #732
use `isinstance(<var>, <type>)` to check if the var is instance of class type
Eg.
[code]

[2020-05-11 07:13] atharvakadlag commented on #731
@tanishqvyas
I checked your django projects it would be better if you would add dependancies.

[2020-05-11 08:34] UnstoppableGeek1 commented on #732
That did not work

It said word1 is not defined
But even when I define word1 = str(word1) before the while loop and also change the type Int  in isinstance function to str since i only want it to count the letters in words it still counts numbers as letters even though i want it to tell me there is an error. I want it to do this so I can eventually make it say in the code that it is a number and t

[2020-05-11 09:26] ravikumar0403 commented on #732
This can be done by using try except block. This is what I tried. Let me know if you get some more efficient solution.

`word=""  #define an empty string
while True:
	word = input("Enter the word: ")
	try:
		int(word) #converts word to integer if it contains only numbers. If not execute the except block of code
		print(word,"is integer")
		break
	except:
		print(word)
`

[2020-05-11 09:37] ravikumar0403 commented on #732
This can be done by using try except block. This is what I tried. Let me know if you find any other efficient way to do it.

[code]

[2020-05-11 13:14] atharvakadlag commented on #732
i expected that you had already taken the first input
try this:
[code]

[2020-05-11 13:46] ravikumar0403 commented on #732
"while isinstance(word1, int)" will return True if we pass an integer and reutrns
 False with word1 being empty string.
which means the while loop will never execute.

[2020-05-11 16:54] UnstoppableGeek1 commented on #732
What is the difference between the try, except command and an if and else statement

[2020-05-11 17:04] ravikumar0403 commented on #732
If statement works on conditional statements...
It will check a condition, if the condition is true, the if block of code is executed otherwise else block will be executed.

Whereas, try and except is used to handle errors. If you think a line/block of code can cause errors then you include that code in try block. When the code causes error, the code won't stop it's execution. Instead it skips the

[2020-05-14 05:02] UnstoppableGeek1 opened #733 "Calculator"
I am trying to make a program that has me input multiple numbers into the console (specifically in Pythonista) and will then  add all of the numbers together and give back the sum.

This is the code I have so far
I am trying to make it only accept numbers if it knows it is a number and if it is a string it will say that it is not a number but i am stuck on how to get it to recognize an integer fro

[2020-05-14 09:50] MusafirRahi123 commented on #733
Try this
numbers = int()
while True:
    numbers = input("Enter some numbers: ")
    if(numbers.isnumeric() == False):
        print("Error")
        break

[2020-05-14 15:26] MaksHub-coder commented on #733
Check this out :)
number1 = input("Enter a number (Use space between each number): ")
number2 = number1.split()
map_object = map(int,number2)
no = list(map_object)
print(no)
print("The sum of all integers inside the List",sum(no))

[2020-05-15 21:38] republic-of-hackers commented on #732
while True:
    word1 = input("Enter a word: ")
    try:
        int(word1)
        break
    except ValueError:
        print(word1)
        print("There are", len(word1), "letters in", word1)

Hope this is close to your expectations......

[2020-05-15 21:40] republic-of-hackers commented on #732
When we input integer in this it consider it as the string and isinstance(word1, int) return false. isinstance(*,*) can't be used here in any way.

[2020-05-16 05:01] atharvakadlag commented on #732
To put a number in word1, you need to do
[code]

[2020-05-16 07:33] republic-of-hackers commented on #732
It doesn't put the integer in word1 but check wheather the instance created in word1 is int or not, as not returns false.
![Capture](https://user-images.githubusercontent.com/30999716/82113701-9f6e5f80-9775-11ea-8ded-95d7a22291e6.JPG)

[2020-05-17 06:20] atharvakadlag commented on #732
![Screenshot 2020-05-17 at 11 50 24 AM](https://user-images.githubusercontent.com/59139103/82137325-a1e3be80-9834-11ea-96d7-530551829225.png)

[2020-05-18 01:15] gepcel commented on #732
I'm exactly sure what you want. Try this:

[code]

[2020-05-18 11:05] Akshima-Ghai commented on #733
num1=int(input('enter first number'))
num2=int(input('enter second number '))

that's it , it will only accept integers , otherwise throws an error

[2020-05-18 14:43] playxin opened #734 "Python examplíe"

[2020-05-18 16:01] republic-of-hackers commented on #732
I think the Issue is resolved and should be closed by the owner.

[2020-05-18 16:15] #732 closed

[2020-05-18 16:15] #733 closed

[2020-05-19 00:24] thienusa2000 opened #735 "hi"

[2020-05-19 00:30] ndmichael commented on #733
Depends on what you intend to do.
You can use a flag and take multiple values on seperate lines like this.

terminate = False
listt = []
result = None
print("enter multiple numbers to be added, press an empty space to end")
while not terminate:
  try:
    user_input = int(input())
    if user_input == ' ':
      terminate = True
    else:
      listt.append(user_input)

  except:
    terminate=Fal

[2020-05-20 09:58] Moshiurmilton commented on #733
# I have made a solution.
while True:
    user_input = input("Enter number (Use + between each number): ")
    user_input = user_input.split("+")
    try:
        map_object = map(int, user_input)
        lst = list(map_object)
        print("The sum of the numbers =", sum(lst))
    except(ValueError, TypeError):
        print("SyntaxError")

[2020-05-21 08:02] SahilSan opened #737 "Fun"

[2020-05-23 05:01] UnstoppableGeek1 opened #738 "I can’t get the sub function to subtract any numbers properly"
def sub(list):
	sub = 0
	for i in list:
		sub -= i
	return sub

while True:
	number1 = input("Enter a number (Use space between each number): ")
	number2 = number1.split()
	print(number2)
	map_object = map(int, number2)
	no = list(map_object)
	print(no)
	print("The sum of all integers inside the list is: ",sum(no))
	print("The sub of all interers inside the list is: ",sub(no))

The sub function is

[2020-05-23 16:10] Moshiurmilton commented on #738
Your program's output: and its pretty good. What's wrong I can not understand.
Enter a number (Use space between each number): 25 69 64 68
['25', '69', '64', '68']
[25, 69, 64, 68]
The sum of all integers inside the list is:  226
The sub of all integers inside the list is:  -226
Enter a number (Use space between each number):

[2020-05-23 16:14] UnstoppableGeek1 commented on #738
The subtraction function does not work properly. It will not subtract the numbers. It just says the opposite of the sum

[2020-05-24 05:14] UnstoppableGeek1 opened #740 "Can’t get it to ignore the space when counting a string"
I am unable to get this to ignore a space so if I typed “hello world” it would say that there are 11 letters in this string instead of 10 letters because it counted the space. Does anyone have any ideas on how to get it to ignore the space?

Here is the code:

def leng(string):
	count = 0
	for i in string:
		count += 1
	return count

word = ""

while True:
	word = input("Enter a string: ")

	try:

[2020-05-24 09:32] Moshiurmilton commented on #738
Try with this code bellow. It will substract 2nd from 1st, substact 3rd number from past result and so on.

def sub(list):
    sub = list[0]
    for i in range(1, len(list)):
        print(list[i])
        sub = sub - list[i]
    return sub

[2020-05-24 09:35] Moshiurmilton commented on #738
print(list[i]) is not necessary. Delete this from 4th line please.

[2020-05-24 10:12] Moshiurmilton commented on #740
Done:
def leng(strng):
    l = list(strng)
    try:
        l.remove(' ')
    except:
        pass
#     count = 0
#     for i in string:
#         count += 1
    return len(l)
#
word = ""

while True:
    word = input("Enter a string: ")

    try:
        int(word)
        print(word, "is not a string")
        break # makes it end the while loop if it goes through try.
    except:
        print(

[2020-05-25 01:08] UnstoppableGeek1 commented on #738
Ok thank you

[2020-05-25 01:11] UnstoppableGeek1 commented on #740
Thank you

[2020-05-25 01:12] #740 closed

[2020-05-25 01:12] #738 closed

[2020-05-25 12:48] makcmoscow commented on #740
your_string = your_string.replace(' ', '')

пн, 25 мая 2020 г. в 04:13, UnstoppableGeek1 <notifications@github.com>:

[2020-05-25 18:07] Swastik-Saha commented on #740
# Use this function

def leng(word):
    word = word.replace(' ', '')
    return len(word)

[2020-06-01 05:18] UnstoppableGeek1 opened #743 "Wondering what MacBook Pro is best for coding"
I was wondering what MacBook and specifications someone would recommend for coding. I am not completely sure what kind of coding I want to do because I am just getting into it but I was thinking about app development in Xcode or even web design. I saw that Apple had a 2019 MacBook Pro 13 inch 2.4ghz model refurbished on their website but was unsure if I should get that or if I should get a differe

[2020-06-01 05:48] kerwin6182828 commented on #743
MacBook Pro 13 inch  2020 basic configuration will be good

[2020-06-01 05:55] UnstoppableGeek1 commented on #743
Do you think the 2019 MacBook Pro 13 inch would work to? It has 8GB of ram 256GB of storage and has a quad core i5 2.4ghz processors with 4 thunderbolt 3 ports and 2 fans. I know it has the butterfly keyboard but I haven’t heard about anyone having issues with the keyboard and it is also covered under the keyboard replacement program.

[2020-06-01 12:56] kevekop opened #744 "can someone help me with my application"
i'm making an application and i would like to put the date and time on my lable...
i made my application with **GLADE** and than trying to programe it with **GTK**

this is where i got sofar

"
_import datetime
import gi

gi.require_version('Gtk', '3.0')
from gi.repository import Gtk as gtk_

class Main:
def init(self):
gladeFile = "main.glade"
self.builder = gtk.Builder()
self.builder.add_from_fi

[2020-06-01 17:48] #744 closed

[2020-06-03 03:44] #743 closed

[2020-06-04 13:04] vaidehi79 commented on #307
temperature = -3.7
celsius = True

#You may modify the lines of code above, but don't move them!
#When you Submit your code, we'll change these lines to
#assign different values to the variables.

#Above are given two variables. temperature is a float that
#holds a temperature. celsius is a boolean that represents
#whether the temperature is in Celsius; if it's False, then
#the given temperature i

[2020-06-04 16:02] kapil8279 commented on #731
Don't worry I'll do it for you

[2020-06-13 15:49] ModestZhang-hash commented on #724
????

[2020-06-13 16:00] #724 closed

[2020-06-13 16:00] raja040204 commented on #724
Thank u

[2020-06-13 16:03] ModestZhang-hash commented on #724
Welcome.&nbsp;

---Original---
From: "raja040204"<notifications@github.com&gt;
Date: Sun, Jun 14, 2020 00:00 AM
To: "geekcomputers/Python"<Python@noreply.github.com&gt;;
Cc: "Xiaoqian Zhang"<972051932@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
Subject: Re: [geekcomputers/Python] Hello world (#724)

Thank u

—
You are receiving this because you commented.
Reply to this email directly, vie

[2020-06-14 22:24] #326 closed

[2020-06-18 07:06] UnstoppableGeek1 opened #746 "How can I search through a list using input"
I am trying to complete this login project but I am not sure how to search a list for something I entered into the input command. As you can see I am trying to see if what was typed for username_input is in the usernames list but it does not work. it instead jumps to the else statement that says "There is no username" + username_Input.

Note this is after I created an account because I am not sure

[2020-06-18 09:43] yashu762001 commented on #746
I will try to resolve the issue

[2020-06-18 09:51] yashu762001 commented on #746
For searching just use .index function that is in your code just add 1 extra line :
if(usernames.index('user_input')>=0):
            password_Input = input("Enter your password: ")
            if passwords.index(password_input)>=0:
                         print("You have successfully logged in " + name + ".")

[2020-06-18 23:04] Aniketks29 commented on #746
For searching an element in a list just use this(Use "in" method for searching any element in a list in python) -
if user_input in usernames:
    password_Input = input("Enter your password:  ")
    if password_Input in passwords:
        print("You have successfully logged in " + name + ".")
    else:
        print("You have entered wrong password! Please retry again")
else:
    print("The userna

[2020-06-19 01:57] UnstoppableGeek1 commented on #746
Thanks

[2020-06-19 01:57] #746 closed

[2020-06-20 08:03] UnstoppableGeek1 opened #748 "Trying to delete a key from a dictionary"
When the user types in forgot password it runs fine until it gets to del logins[current_password].
Here I am trying to delete the key of that value in the logins dictionary and then reassign the new username to the value current_password. When I run this it makes the new key but it doesn't delete the old key which was the whole point of writing the del logins[current_password] command. Does anyone

[2020-06-22 06:30] Mail-Adar opened #749 "Prog"

[2020-06-23 15:34] krishna-py-ops2k1 opened #751 "Example"

[2020-06-24 12:02] dummyVariable commented on #748
You cant delete a dictionary item by its value(current_password), you have to pass by its key(current_username)
Try this
[code]
P.S. I don't think its ideal to edit user by asking one's password.

[2020-06-26 02:12] Hui-Zhang-Driver opened #754 "Suggestion"
Could I use 'shutil.move(old_src, new_src)' to replace 'os.rename(old_src, new_src')?

[2020-06-26 17:48] TechPersonYT commented on #662
It's been a while, but this might still be useful. I've tested this code with all 8 relevant hours and it seems to work.

[code]

[2020-06-27 00:18] #748 closed

[2020-06-29 13:46] dev-ash30 opened #757 "Python"

[2020-06-29 21:35] GadgetAddict opened #758 "Python Beginner"
I am very new to python but have some programming experience...

I was experimenting with you bank_managment_system python app.  When I looked at the code, I found some functions were defined twice and I could not understand why you would need to define a function twice, with the same name and all the same code.

Thank you!

[2020-06-29 22:33] UnstoppableGeek1 opened #759 "Application won’t run simulator"
The simulator for iPhone 11 Pro Max won’t run

![image](https://user-images.githubusercontent.com/64677037/86062527-c202c200-ba1d-11ea-8908-c925331b7269.jpeg)

[2020-07-02 15:12] #759 closed

[2020-07-03 22:57] morr-debug opened #760 "Source codes"

[2020-07-05 09:26] KMx404 opened #761 "add a stackoverflow web scrapper"
Here's the source code of a web scrapper, Made to extract useful questions & answers in stackoverflow
``
import requests
from bs4 import BeautifulSoup

question = input('Type a question : ')
words = question.split(' ')

url = 'https://stackoverflow.com/search?q='+'+'.join(words)

page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

items = soup.find_all('a',class_='question

[2020-07-07 05:46] dharm6619 commented on #498
This is because these paths falls in the category of directory. if you write os.path.isdir('C:/Windows'). It will return true. For files : - os.path.isfile

[2020-07-08 03:05] Santy2027 opened #762 "Python exits itself"
Hi, i have an issue with my python 3.8.
Whenever i try running my. Py file, the program starts running but exits within a second. What could be the problem? Please fo help, I'm a newbie. Thanks

[2020-07-08 14:52] somdev-hub commented on #762
Open it with an ide

[2020-07-08 14:54] Santy2027 commented on #762
It is the same with ide. No difference.

On Wed, Jul 8, 2020, 8:22 PM somdev-hub <notifications@github.com> wrote:

[2020-07-11 15:41] Paul-Kong opened #765 "geek"

[2020-07-11 15:42] #765 closed

[2020-07-12 08:53] Paul-Kong opened #766 "study python"
give me some advice...

[2020-07-13 18:02] NebilT opened #767 "Learning"
Trying

[2020-07-18 05:23] singla007 commented on #762
add input() at the end of the code. As code needs a character and enter, It will not exit and hence, give you time to see the output.

[2020-07-18 05:24] singla007 commented on #758
Maybe number of arguments are different for method overloading.

[2020-07-18 06:00] #431 closed

[2020-07-18 06:37] amogh2004 commented on #758
Maybe one was function definition and one was function call statement. Can you please send the link to the code?

[2020-07-18 06:38] amogh2004 commented on #762
Adding input() will make the program run forever. Not a feasible solution. You can use Jupyter notebook to run the code part by part, very useful for learners!

[2020-07-18 06:40] amogh2004 commented on #676
You can refer this for some insights into the code:
https://github.com/amogh2004/BlackJack-Game

[2020-07-20 20:26] emnelc opened #769 "Python"

[2020-07-20 20:30] #769 closed

[2020-07-23 11:07] Dearrabbani opened #773 "Belajar"

[2020-07-23 11:07] Dearrabbani commented on #773
Halo

[2020-07-25 13:36] nanomenandmini opened #775 "Örnekler"

[2020-07-26 19:20] wylezav opened #776 "Hi"

[2020-07-29 03:51] itsvinayak commented on #776
@wylezav hi

[2020-07-30 13:09] yashchaudhari008 commented on #762
You can use **os** module to keep console visible.
[code]

[2020-08-05 13:38] uddeshyatyagi commented on #757
Will you describe anything?

[2020-08-05 13:45] uddeshyatyagi commented on #513
Python is a very flexible language which can be used in field like artificial intelligence,backend,etc.
But one must first start with the basics then should try to gain expertisement in one particular field.
I would recommend you to watch **_[https://www.youtube.com/user/thenewboston](url)_**
It is really amazing.

[2020-08-08 22:40] ildad opened #782 "Python program"

[2020-08-11 06:17] Kpraful commented on #688
Okh i might be late to party, But i found exactly what the problem is. It due to your if statements since you havent used bracket to seprate and/or condition, so what ever you input is True according to interpreter. Here see this example
 if computer == 1 and user == "Rock" or user == "rock"
if you do this than interpreter is always considering your input as true and not going to another condition

[2020-08-12 09:38] TejaswiniBU opened #784 "Code"

[2020-08-12 09:39] #784 closed

[2020-08-19 22:40] PracticalEscapement opened #788 "Python projects"

[2020-08-23 13:54] HYDRA0777 opened #790 "Learning"
I want to learn python

[2020-08-23 14:19] hemanthvarma1 opened #791 "ALgor"

[2020-08-23 17:23] Ruebled commented on #790
So?

[2020-08-26 02:22] Lefygrens opened #792 "What do I do"
I've learned block coding from Construct 3 for a year and school robotics for 4 and I'm decent at it but obviously that isn't real coding so I decided to try Python. I'm brand new not just to Python but to text coding as a whole. I've spent around 7 hours learning it and I know because I've spend so little time that I could track it. But, I feel like taking on Python is a huge(x1000) task and that

[2020-08-26 19:05] ABODFTW commented on #792
Well, keep learning

It took me over 3 months to get to a place where I would be able to write a reasonably simple program by myself

There is a lot to learn, and you will only learn by doing, so I would recommend you to come up with a simple script/program idea and spend the next 10 days or whatever creating it

Here is how I would suggest you go about this
- Research what tools to use AKA module

[2020-08-27 11:59] DhruvDoshi commented on #790
You could find some good courses over coursera or udemy for free, feel free to ping me

[2020-08-27 12:00] DhruvDoshi commented on #782
What kind of error this is man ?

[2020-08-27 12:00] DhruvDoshi commented on #776
Hey!😅

[2020-08-27 17:34] Karim8697 commented on #688
Yeah the issue was the OR statements.
User being either rock, paper or scissors was always just triggering one of the first three statements.
I solved this and shortened the code by using .lower on the user input and removing the OR statements as below.

    import random
    import time

    computer = random.randint(1,3)
                                            #Added .lower
    user = input(

[2020-08-28 20:26] Hossien82 opened #796 "Calculater"

[2020-08-29 18:31] delacruzxh opened #797 "Aprender"

[2020-09-01 10:34] Gabighz commented on #792
I also highly recommend doing beginner-level, free MOOC courses on edX. For example, [CS50 by Harvard University](https://www.edx.org/course/cs50s-introduction-to-computer-science) is amazingly helpful. You could also do courses about [CS essentials](https://www.edx.org/professional-certificate/pennx-computer-science-essentials-for-software-development) or an [Intro to Python](https://www.edx.org/

[2020-09-05 14:43] DasKRD opened #803 "1"

[2020-09-07 17:43] emmanuelotabil opened #804 "Python file"
Looking forward to add a new file; the Letter counter, which is a python program that counts the number of occurrence of a particular letter in  message that the user inputs.

[2020-09-08 18:41] xuemengwei opened #807 "python"

[2020-09-08 18:44] XB0230 commented on #807
What is this ?

[2020-09-08 21:55] xuemengwei commented on #807
Dear sir,
What's happened now? I just download Github and want to practice python.
Did I do something by accident?

Best,
Xuemeng

XB0230 <notifications@github.com> 于 2020年9月8日周二 下午12:44写道：

[2020-09-10 00:12] izmirlikezzap commented on #807
What is this really

[2020-09-14 13:27] divu050704 commented on #804
#This program is to find the number of letters in a word with input from the user
#This program has been created by divu050704
message=input('Enter the message: ')
count_of_letters=0
letter=input('Enter the letter you want to count: ')
for k in message:
    if k ==letter:
        count_of_letters=count_of_letters+1
print('Number of',letter,'in',message,'=',str(count_of_letters))

[2020-09-14 22:29] atarax665 opened #811 "Add README.md for floodfill program."
The [floodfill](https://github.com/geekcomputers/Python/tree/master/floodfill) needs to have a proper README.md.

[2020-09-15 20:59] izmirlikezzap opened #816 "What do you think about find prime numbers?"
İs this true?

[2020-09-15 21:00] izmirlikezzap commented on #816
![IMG_20200915_235853.jpg](https://user-images.githubusercontent.com/66982802/93264280-8e7b3c80-f7af-11ea-811c-f3d90f5acde0.jpg)

[2020-09-15 21:09] izmirlikezzap commented on #816
![IMG_20200916_000856.jpg](https://user-images.githubusercontent.com/66982802/93265135-d3ec3980-f7b0-11ea-89d5-a25fb9e2bb2a.jpg)

[2020-09-16 19:06] CodeLongAndProsper90 commented on #762
Try adding a print at the start and end, and invoke it in a dedicated terminal window.

For example:

[code]
And then open a console window (Konsole is default on Kde) and run `python3 broke.py` or whatever your filename is,

[2020-09-17 06:15] preciserocks opened #819 "How to convert Json file into Python in tabular form"

[2020-09-17 08:05] wangcc7 commented on #819
Can you describe the requirements in detail?

[2020-09-17 16:03] sakhsham99 opened #820 "Hello"
I am new here.donot know how to use

[2020-09-17 19:11] kshivi99 opened #821 "DOC: Readme missing for many script collections."
The packages would become way more readable if a proper readme is attached describing the collection.

[2020-09-18 07:57] ReeZHeLL opened #822 "F"

[2020-09-18 16:22] #711 closed

[2020-09-21 11:59] Devansh2005 commented on #796
Hey, Hossien82 can you provide the description for this issue.

[2020-09-21 12:06] techshivang commented on #820
Just go to official website of github or see some tutorials on youtube how to use github some of them i recommend you to watch
youtube channel name - : code with harry,Codebasis

[2020-09-21 16:02] Devansh2005 opened #827 "Error with line 28 in digital_clock.py"
@geekcomputers  Please do check the error in the line 28 of digital_clock.py

[2020-09-24 14:29] Mohitkumar6122 commented on #827
i updated the code thanks

[2020-09-26 17:55] #827 closed

[2020-09-27 00:00] nehal6657 commented on #816
it is true but it takes a lot of time for compilation for large numbers
for smaller numbers it works fine but for larger, it does not. eucledian approach is much better for finding prime numbers

[2020-09-27 06:48] Ankur1Karn commented on #816
Yes it's true.

[2020-09-27 07:04] ayushkumar0208 commented on #816
We can check prime by counting the factors of any number , Prime numbers only have two factors 1 and number itself ,So we can state them as Prime numbers other are not.

[2020-09-27 13:48] nehal6657 commented on #816
should i upload my code for finding prime numbers in python???

[2020-09-27 14:05] izmirlikezzap commented on #816
Yess its good for me

[2020-09-30 15:05] LySergicaciD125 commented on #816
Can you assing it to me . I can complete it by tommorow

[2020-10-01 06:06] vijaychandhu2000 opened #875 "Hi"

[2020-10-01 08:20] amitShindeGit commented on #811
Hey atarax665,i would like to contribute.

[2020-10-01 08:21] amitShindeGit commented on #821
Hey kshivi99,i would like to contribute.Could you please tell me more about this issue.

[2020-10-01 17:02] mert679 opened #923 "help"
I have a trouble
Traceback (most recent call last):
  File "C:/Users/merta/PycharmProjects/pythonProject1/0example.py", line 7, in <module>
    root.resizable("0,0")
  File "C:\Users\merta\AppData\Local\Programs\Python\Python38-32\lib\tkinter\__init__.py", line 2196, in wm_resizable
    return self.tk.call('wm', 'resizable', self._w, width, height)
_tkinter.TclError: wrong # args: should be "wm re

[2020-10-02 01:39] CodeLongAndProsper90 commented on #923
Try using `root.resizable(0,0)`?

[2020-10-02 07:49] mert679 commented on #923
import time
from tkinter import *

root=Tk()
root.title("digital clock")
root.geometry("250x100")
root.resizable("0,0")
label = Label(root, font=("Arial", 30, 'bold'), bg="blue", fg="powder blue", bd =30)
label.grid(row =0, column=1)

def dig_clock():
    text_input = time.strftime("%H:%M:%S")
    label.config(text=text_input)
    label.after(200,dig_clock)

dig_clock()
root.mainloop()

[2020-10-02 20:08] YaraYasser opened #962 "create json parser class"
this class should be responsible for converting data to json file and getting data from json file or searching inside it for specific value

[2020-10-03 04:30] Sackodev opened #968 "get_youtube_view.py improvement?"
I was thinking about adding a bit of code to make it so you don't have to input a time, but it would involve an import and some testing. Is it worth adding?

[2020-10-03 16:02] hasanmdarif commented on #796
Do you mean by writing a python program for calculator?

[2020-10-04 08:31] Nirali0029 commented on #796
Do you need a simple calculator or an scientific one?

[2020-10-05 04:07] jcovington16 commented on #968
Yea I think it is worth it. Its simply an import datetime I believe should work or import date/import time. Then you can find the line where the input of time is located and simply use the datetime.now() or datetime.date(year,month,day). It shouldn't be more than a line or two. Maybe 10mins or less to implement. I say go for it.

[2020-10-05 04:39] jcovington16 opened #1002 "dir_test.py"
I thought this was a great script, but I wanted to see if I can make it more user friendly or interactive by adding the option of if the user want a directory added or not. Its a small change and just a few lines to say "hey it don't exits, but would you like this dir created or not" option. Hopefully you guys let me add it. Trying to get use to contributing and building my portfolio

[2020-10-05 17:58] Hossien82 commented on #796
Hi , I'm sorry these aren't my work
I just shared it for benefits.
You could get more from https://github.com/geekcomputers/Python

[2020-10-05 17:58] Hossien82 commented on #796
Hi , I'm sorry these aren't my work
I just shared it for benefits.
You could get more from https://github.com/geekcomputers/Python

[2020-10-05 17:59] Hossien82 commented on #796
Hi , I'm sorry these aren't my work
I just shared it for benefits.
You could get more from https://github.com/geekcomputers/Python

[2020-10-05 18:03] Hossien82 opened #1050 "Creat Calculater with python"
https://github.com/Nirali0029/Simple-calculator-

[2020-10-06 09:18] SwapnilBais opened #1066 "Unable to run my written code 2nd time"
[Tic Tac Toe.py](url)

So, in this code, I'm unable to run the game

[2020-10-06 09:33] DrStarkXavier commented on #1066
give me 2 hours till i reach home but first, explain what're the problems which facing you?

[2020-10-06 09:38] SwapnilBais commented on #1066
Okay! Not a problem you can take your time.

So, when I'm actually running the code for the first time it is working properly in jupyter notebook but when I'm trying to run the code again it is not showing anything means it is not making for the input again. It is not giving me any error but not able to run again that is the only concern.

Thank you!

[2020-10-07 05:38] SwapnilBais commented on #1066
waiting for your reply

[2020-10-07 08:58] DrStarkXavier commented on #1066
I'm really apologize. I've been busy the whole day in family purposes.

From what you explained, the list which stores the values turns out that the clear function clears the values using it in the wrong line so the after running the code again it gives null.

 I promise  you this time when I reach home I will put it as the start of my schedule. Then, I will upload it and mention you.

my sincerel

[2020-10-07 15:23] aayushikanojiya opened #1087 "Print the largest of three numbers"
a = int(input("Enter a? "));
b = int(input("Enter b? "));
c = int(input("Enter c? "));
if a>b and a>c:
    print("a is largest");
if b>a and b>c:
    print("b is largest");
if c>a and c>b:
    print("c is largest");

[2020-10-07 15:24] aayushikanojiya opened #1088 "Wheter a person is eligible to vote or not"
age = int (input("Enter your age? "))
if age>=18:
    print("You are eligible to vote !!");
else:
    print("Sorry! you have to wait !!");

[2020-10-07 15:25] aayushikanojiya opened #1089 "Check wheter the student is pass or fail"
marks = int(input("Enter the marks? "))
f marks > 85 and marks <= 100:
   print("Congrats ! you scored grade A ...")
lif marks > 60 and marks <= 85:
   print("You scored grade B + ...")
lif marks > 40 and marks <= 60:
   print("You scored grade B ...")
lif (marks > 30 and marks <= 40):
   print("You scored grade C ...")
lse:
   print("Sorry you are fail ?")

[2020-10-07 15:27] aayushikanojiya opened #1090 "Nested for loop"
# User input for number of rows
rows = int(input("Enter the rows:"))
# Outer loop will print number of rows
for i in range(0,rows+1):
# Inner loop will print number of Astrisk
    for j in range(i):
        print("*",end = '')
    print()

[2020-10-07 18:54] DrStarkXavier commented on #1066
@SwapnilBais,
      Sorry if I was too late. Please, i want you to check your file path, because it's not working. Beside i want you to check this one [TicTacToe.py](https://github.com/geekcomputers/Python/blob/master/TicTacToe.py). I promise this game is working. I tried it many times. the list is pretty good and flexible.

if you want me to check your personal code game. please, feel free to sha

[2020-10-07 19:04] DrStarkXavier commented on #1066
In case you want a good debugger, light, and flexible. I recommend you [VSCodium](vscodium.com). It's an open source from VSCode. I'm using it on my Debian. But, if you're working in a big project that will be integrated with database. I recommend you [IntelliJ IDEA](https://www.jetbrains.com/idea/)

I hope you the best of luck!

My Sincerely,

Xavier

[2020-10-08 08:32] SwapnilBais commented on #1066
Oh! Thank you so much and i will definitly run code on those platforms... Have a good day!

[2020-10-08 08:34] SwapnilBais commented on #1066
Meanwhile could you please check my written code as well so that i will get to know where im making the mistakes.

Thanks & Regards,

Swapnil Bais

[2020-10-09 03:13] SwapnilBais commented on #1066
Hi @DrStarkXavier ,

Greetings of the day!

Thank you so much for replying back and im sharing the link with you.

https://github.com/SwapnilBais/Milestone_Project

Thanks & Regards,

Swapnil Bais

[2020-10-09 08:30] ssokoll opened #1106 "Python geek"

[2020-10-09 16:59] Shido4242 opened #1110 "Python (tools)"

[2020-10-11 09:15] DrStarkXavier commented on #1066
hello @SwapnilBais,
sorry if I was too late for you. Recently, I'm searching for good open-source IDE to help me in live preview and on-line Editor.

I was facing some problems in installing most of them cause I'm running on Debian. However, when I read your code I found something illogically for me. when you clear the board, why are you cleaning it into the structure function which the function t

[2020-10-11 11:08] hoseinfzad opened #1117 "information of pc"
we have a command line program for showing the information of our machine

[2020-10-14 11:49] sidverr commented on #1087
Totally right

[2020-10-15 03:38] DrStarkXavier commented on #1087
it will be better if you used elif instead of if

so, code will go like that

if a>b and a>c:
    print ("a is the largest number")
elif b>a and b>c:
    print ("b is the largest number")
elif c>a and c>b:
    print ("a is the largest number")
else:
    print ("something wrong with your input")

[2020-10-15 04:13] ganesh-thorat01 commented on #1087
list1=[a, b, c]
print(max(list1), " is the largest number ")

It will reduce the code...

I

[2020-10-15 06:57] DrStarkXavier commented on #1087
@ganesh-thorat01 agreed

[2020-10-15 07:26] Bennniii96 opened #1131 "UnboundLocalError: local variable 'data' referenced before assignment"
import xlsxwriter
import pandas as pd
import openpyxl
import pandas as pd

current=1
i = 0
counter=0
# Create some Pandas dataframes from some data.
df1 = pd.DataFrame({'Data1': [11, 12, 13, 14]})
df2 = pd.DataFrame({'Data2': [21, 22, 23, 24,25]})
df3 = pd.DataFrame({'Data3': [31, 32, 33, 34,35,36]})
df4 = pd.DataFrame({'Data4': [41, 42, 43, 44,45,46,47]})
df5 = pd.DataFrame({'Data5': [51, 52, 53,

[2020-10-18 05:32] ne0h007 opened #1172 "Geekscomputer/python"

[2020-10-18 21:39] ayushmane649 opened #1179 "Python Program to Convert Kilometers to Miles"
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

[2020-10-20 14:26] samarthraj11 commented on #1179
hey, i can do this one . can you please assign  to me ?

[2020-10-21 04:36] adityagupta-16 commented on #1087
@aayushikanojiya   hey  assign  me.

[2020-10-21 14:01] ranshu1601 commented on #1087
x=y=z=0          #define the three numbers

x=float(input("Enter first number: "))
y=float(input("Enter second number: "))        #intake all integer
z=float(input("Enter third number: "))

max=x
if y>max:                              #assuming the 1st no. to be max then comparing the others no.
    max=y
if z>max:
    max=z
print("Largest number is",max)

[2020-10-21 14:06] adityagupta-16 commented on #1087
@ranshu1601 it's better to write  eval rather than float because   number can be float OR int . So Just little change :
a=eval(input('Enter the First number :'))
Similarly  b and c .

[2020-10-22 06:18] amitShindeGit commented on #1131
Hey,declare 'data' above if statement with 0.
Like this, data = 0
Because 'data' is inside if statement,the while statement couldn't access it.
And it should solve the error.

[2020-10-24 09:47] m-ayan-k commented on #1172
Is there any issue or not???

[2020-10-27 11:09] haelmj commented on #1089
Hey I can do this, can you assign me?

[2020-10-28 08:49] DrStarkXavier commented on #1089
@aayushikanojiya i think this wi be much better;
[code]

[2020-10-31 17:11] Developer-R-7 commented on #1088
Hi @aayushikanojiya  can you please assign this issue to me #1088
glad to work on it

[2020-10-31 17:28] Developer-R-7 commented on #1088
i have submitted a pull request to this issue after the merged you can close this issue..
thank you

[2020-11-01 05:24] amitShindeGit commented on #1179
I've made a PR regarding this issue.Happy to help.

[2020-11-01 16:13] YksRocks opened #1219 "can i add a new book store management system"

[2020-11-01 16:18] YksRocks commented on #1219
can anyone tell me that how to add a file and commit it  ?

[2020-11-02 12:38] newby1-pixel opened #1220 "Cannot fix this"
`print("THE TEXT GAME")
print("START? ( TYPE EITHER YES OR NO )")
act = input("( TYPE EITHER YES OR NO )")
if act == "yes":
    print("You are woken up in a shuttle wearing a yellow space suit with other cluless people. What do you do?")
    act = input("Look Around or ask: what the what is happening?")
    if act == "look around":

    else:
        print("YELLOW: what the waht is happening")

[2020-11-02 12:54] #1220 closed

[2020-11-07 03:38] hamidppro opened #1224 "python.first"

[2020-11-07 05:35] zahiaIng commented on #1224
Thanks

On Sat, Nov 7, 2020, 4:39 AM hamidppro <notifications@github.com> wrote:

[2020-11-08 02:14] coolman6 opened #1225 "Coding problem"
Hi everyone. I'm having trouble with this coding assignment for python. Does anyone have a correct answer for this?

1. Write function repeatEnd that takes a String and an int n, and returns a string
made of n repetitions of the last n characters of the string. For example
repeatEnd("Hello", 3) should return "llollollo"
repeatEnd("Hello", 2) should return "lolo"
repeatEnd("Hello", 1) → "o"
If n is

[2020-11-14 19:20] haripriya9647 commented on #1225
@coolman6 Hello
I have done 1st problem have a look:

def repeatEnd (string ,n):
    if (n<=0 or n>len(string)):
        return(" ")
    else:
        return(string[-n: ]*n)

y= str(input())
num= int(input())
print(repeatEnd(y,num))

[2020-11-16 06:49] MouhmadKhalel1 opened #1232 "Wichtig"

[2020-11-17 07:23] nehal6657 commented on #1179
is it still open for contribution

[2020-11-17 07:23] nehal6657 commented on #1090
can someone guide me in this

[2020-11-18 16:23] coldinke opened #1235 "Python iteams"

[2020-11-19 23:56] utkarsh2787 commented on #1179
i want it bro....

[2020-11-20 06:08] #1235 closed

[2020-11-22 15:03] ltraxie opened #1242 "python"

[2020-11-22 15:05] #1242 closed

[2020-11-29 04:50] UnstoppableGeek1 opened #1244 "How to upload an image in django"
I am building an e-commerce website and I have an update item page. Everything else in the form is saved correctly like the name, details, and price but the image doesn't save. It clears the image so that there is no image with the item. I am using an input tag in an html file named update to save the changes made to the item. Is there anyway that I am able to save the image easily within the upda

[2020-12-03 18:05] Ilya333-bit opened #1245 "Local variable 'word' value is not used, can't someone help?"
I don't understand what to do, word is not using
[code]

[2020-12-03 18:08] #1245 closed

[2020-12-06 17:18] potgieterbt commented on #1244
I had the same problem I found this and it fixed it for me.
`  <form action="" enctype="multipart/form-data" method="post">`
You have to put the _enctype="multipart/form-data"_ in the form element for the request to carry the image.

Then to process the image in your _view.py_ file you need to extract the files from the request
`        form = ListingForm(request.POST, request.FILES)`

Hope this h

[2020-12-07 09:14] UnstoppableGeek1 commented on #1244
Thanks it worked

[2020-12-07 09:28] potgieterbt commented on #1244
No Problem

[2020-12-07 14:11] shashwat-code commented on #1090
so it will start from i=0
when i = 0 inner loop will not run and last print() will only execute
when i = 1 inner loop will iterate only once and print * only
and so on....
*
**
***

[2020-12-08 07:31] 002XYZ commented on #1225
I'd like to work on this issue

[2020-12-09 06:35] UnstoppableGeek1 opened #1247 "How to save password on a registration page with a custom user model"
I'm trying to save the password to a user from the registration page but when I push save it just reloads the page and doesn't save. I made my own user model so I could add more fields like a bio. ![image](https://user-images.githubusercontent.com/64677037/101593757-b85a8e80-39ad-11eb-8fa0-c329f195ba12.jpeg)

![image](https://user-images.githubusercontent.com/64677037/101593799-cd372200-39ad-11eb-

[2020-12-10 16:52] Kaushal03 commented on #1066
U can try this code ... hope u will find it easier

#program
#TIC TAC TOE
from datetime import datetime
now=datetime.now( )
current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)
import datetime
today=datetime.date.today()
print(today)
def display_board(board):
	print("Play it carefully")
	print("Dont enter the same input ")
	print("Otherwise the game shall be tied")
	print(

[2020-12-10 16:56] Kaushal03 opened #1250 "Need an code for super market using tkinter in python GUI ... can help me in this"

[2020-12-11 20:58] sonny3690 opened #1251 "Documentation"
Given that not many individuals use Notepad++ anymore, is there docs that you could directly use/view from a website or something?

[2020-12-16 16:53] Rahul-k25 commented on #1225
Assign this issue to me.
I'd like to give a try

[2020-12-19 12:33] Ajay-2444 opened #1254 "He'llo"

[2020-12-20 17:19] mearchit commented on #1250
Sir I can work on this ,if you provide me the opportunity!

[2020-12-22 08:39] NoobBot6466 commented on #1251
google docs might work

[2020-12-25 11:03] PragatiNangare opened #1257 "Python Program for string palindrome"
# function to check string is

# palindrome or not

def isPalindrome(s):

     

    # Using predefined function to

    # reverse to string print(s)

    rev = ''.join(reversed(s))

 

    # Checking if both string are

    # equal or not

    if (s == rev):

        return True

    return False

 

# main function

s = "malayalam"

ans = isPalindrome(s)

 

if (ans):

    print("Yes")

else:

 

[2020-12-26 00:51] KeethSpindler commented on #1090
Hello, all,

After reading @aayushikanojiya 's issue, the original script asks for a number of rows from the user and, if provided with a valid `int`, will print `i` number of astricts corresponding to the iteration of the outermost `for` loop.

To put it more simply, if 3 was input by the user, the following output would occur:
[code]
However, there are some optimizations that I think may help ma

[2020-12-26 10:23] Gena007 opened #1259 "J"

[2020-12-26 15:44] Sunidhi-Thakur commented on #1087
**Method 1: Add the numbers entered by the users in a list and use max(lst) function**

lst = []
num = int(input('Enter the number of elements: '))
for n in range(num):
    numbers = int(input('Enter elements '))
    lst.append(numbers)

print("Largest element is:", max(lst))

**Method 2: Using elif**

a = int(input("Enter First number")
b = int(input("Enter Second number")
c = int(input("Enter Th

[2020-12-27 17:57] #1259 closed

[2020-12-28 09:07] Kushagra888 commented on #1257
What is the issue ???

[2020-12-30 09:42] yashzod commented on #1250
Yes. I already have a similar code.

[2020-12-30 09:53] yashzod commented on #1225
#here is the code for 2nd statement.
def countTriple(s):
    res=0
    for i in range(1,len(s)-1):
        if s[i-1] == s[i] == s[i+1]:
            res+=1
    return res

print(countTriple("abcXXXabc"))
print(countTriple("xxxabyyyycd"))
print(countTriple("a"))

[2021-01-01 05:30] Kaushal03 commented on #1250
ok u can try if u can get me the code for it ....

[2021-01-01 05:31] Kaushal03 commented on #1250
ok then can u send me the code

[2021-01-01 05:37] Kaushal03 commented on #1257
u can try this
#1257
a=str(input("Enter an string"))
b=a[::-1]
if a==b:
    print("its an pallindrome")
else:
    print("its not an pallindrome")

[2021-01-01 08:03] yashzod commented on #1250
assign me the issue I'll try to complete asap.

[2021-01-01 12:31] VishalYewale opened #1263 "Database pymysql"
How to add multiple values in single coloum in table like ddmmyyyy with different variables ??

[2021-01-02 16:04] abhinandanpawar commented on #1254
empty issue close it

[2021-01-07 18:57] dragonmakerbr opened #1270 "Hnm"
K

[2021-01-07 18:59] #1270 closed

[2021-01-14 08:19] #1250 closed

[2021-01-14 08:21] mearchit commented on #1250
I can work on this uf you provide me the brief idea about your project !

On Thu, 14 Jan 2021, 13:49 Kaushal Sethia, <notifications@github.com> wrote:

[2021-01-17 08:01] AKAeminem commented on #1087
My method is not only three numbers, you can enter any number：

a=input().split()
print(max(int(i)for i in a))

[2021-01-17 08:29] VivekMalapaka12 opened #1271 "alternate and easy code for basic calculator"
hi...i'm new to python and i'm giving you an easy code for basic calculator which you can add it
``python
a=int(input("enter` any number: "))
b=int(input("enter another number: "))
ope=input("enter the operand: ")
if ope=="+":
  print(a+b)
elif ope=="-":
  print(a-b)
elif ope=="*":
  print(a*b)
elif ope=="/":
  print(a/b)
else:
  print("invalid operand ,try again")
``

[2021-01-17 08:29] #1271 closed

[2021-01-17 08:32] VivekMalapaka12 opened #1272 "a basic code for calculator"
hi...i'm new to python and this is my basic code for the calculator which you can add
[code]
sounds cool?

[2021-01-17 17:14] alidahap commented on #1272
Good

‫أُرسلت من الـ iPhone‬

[2021-01-20 10:10] arhattam commented on #1272
Hi,

Operand? Do you mean Operator?

All good otherwise 🙂

[2021-01-20 10:12] VivekMalapaka12 commented on #1272
Yesss sorry 😅

[2021-01-22 12:06] ElMescalito92 opened #1274 "README spelling mistakes"
...just noticed them reading through your README file. On it to fix them, for  readability.

[2021-01-22 16:07] thedivyanshuyadav commented on #1225
### **Coding Problem #1225**

**_Solution for 1st_**

[code]

_Output:_

[code]

**_Solution for 2nd_**

[code]

_Output:_
[code]

[2021-01-25 13:34] Tanj01 commented on #1274
I want to work on this issue

[2021-01-27 08:00] haymeks commented on #1272
Try this :

print(""" =========================== Simple Calculator =========================== Please select an operation:
1) Add
2) Subtract
3) Multiply
4) Divide

 """)
choice=input("Please enter choice(1/2/3/4):")
 num1 = int(input("Enter first number: "))
 num2 = int(input("Enter second number: "))

if choice == '1': print(num1,"+",num2,"=", num1+num2)
 elif choice == '2': print(num1,"-",num2

[2021-02-05 14:48] mahendra7801 opened #1280 "Test.py"

[2021-02-20 13:48] Karan-Dhingra commented on #1280
@mahendra7801 Hi, can I help you?

[2021-02-21 17:33] Rashika101 commented on #1280
@Karan-Dhingra Can you please explain this issue?

[2021-02-21 17:39] Karan-Dhingra commented on #1280
@Rashika101 actually I also want to know from @mahendra7801 😅

[2021-02-21 17:40] Karan-Dhingra commented on #1280
Actually, I am a beginner and I was searching to contribute somewhere 😅

[2021-02-23 16:09] RedPlumDragon opened #1292 "Lots of syntax errors in mariogame.py"
There are a ton of syntax errors in ``mariogame.py``.

[2021-02-25 06:01] BOOGLE360 opened #1293 "NewGeek2.0a"
commit
[Python-master.zip](https://github.com/geekcomputers/Python/files/6040817/Python-master.zip)
[go-master.zip](https://github.com/geekcomputers/Python/files/6040818/go-master.zip)

[2021-02-25 06:02] BOOGLE360 opened #1294 "Python/Geek2.0.0"
[go-master.zip](https://github.com/geekcomputers/Python/files/6040820/go-master.zip)

[Python-master.zip](https://github.com/geekcomputers/Python/files/6040821/Python-master.zip)
[ott-master.zip](https://github.com/geekcomputers/Python/files/6040822/ott-master.zip)

[2021-02-25 16:53] RedPlumDragon commented on #1219
You have to fork the repository then put/edit whatever files, then you make a pull request.

[2021-02-25 16:57] RedPlumDragon commented on #1089
@DrStarkXavier this improves the readability:

[code]

[2021-02-25 17:22] RedPlumDragon commented on #821
@kshivi99 I agree.

[2021-02-25 17:28] RedPlumDragon commented on #790
I learnt python with [Programiz](https://www.programiz.com).

[2021-02-25 17:40] RedPlumDragon commented on #688
@Karim8697 I get this error:
[code]

[2021-02-25 17:48] RedPlumDragon commented on #1263
@VishalYewale I don't get what you mean.

[2021-02-25 19:34] Kpraful commented on #688
Yeah its because @Karim8697 has forgotten to put his function inside the function main, I think he wants to do something like this
[code]

[2021-02-25 19:37] Kpraful commented on #688
Yeah because I think @Karim8697  forgot to put the code in main function
`import random
import time

computer = random.randint(1,3)
                                        #Added .lower
user = input("Rock, Paper, Scissors, SHOOT!  ").lower()

def main():
	if computer == 1 and user == "rock":
	    print("I pick Rock!")
	    time.sleep(0.5)
	    print("Tie")
	    time.sleep(0.5)
	    print("Either p

[2021-02-26 16:02] RedPlumDragon commented on #688
Added startswith() and instead of just printing `"Either play again or type Finished to stop!"` I gave an option to play again or finish.

[code]

[2021-03-06 13:54] embattle12 opened #1297 "README file error"
The "Fast Youtube Downloader - Downloads YouTube videos quickly with parallel threads using aria2c." doesn't have a link attached to it. The 404 error page is being flashed. The error would be fixed i am on it.

[2021-03-14 08:44] Batul72 commented on #1272
use modulus operator (a%b)
use floor division (a//b)
use exponential (a**n) (n can be any number)

[2021-03-15 08:29] ogpratik commented on #1272
Hello , I'm New in Github And This Is my Basic Calculator Code Please Review.

def operation(string, num1, num2):
    if string == '+':
        return num1 + num2
    if string == '-':
        return num1-num2
    if string == '*':
        return num1*num2
    if string == '/':
        return num1/num2
    if string == '^':
        return num1 ** num2
    if string == '%':
        return num1%num2

[2021-03-18 17:55] IAmTheDoctor8 opened #1303 "My issue"
For a long time

[2021-03-18 17:56] #1303 closed

[2021-03-21 04:27] pkebha commented on #1263
@VishalYewale you mean different variables for different dates that can be used instead?

[2021-03-26 07:17] bj20032003 commented on #1297
How to use github

[2021-03-31 15:58] gbjr56 opened #1307 "Password generator"
Suggest new password

[2021-03-31 16:09] gbjr56 commented on #1307
Mistake reopen

[2021-03-31 16:56] #1307 closed

[2021-04-02 02:29] Efic-dfc commented on #1297
learn it gradually

[2021-04-02 02:29] Efic-dfc commented on #1297
learn it gradually

[2021-04-02 02:49] NallathambiSuresh commented on #1297
Yes

[2021-04-08 07:24] DGreat49251 commented on #1280
What is the problem here? Can you allow me to help?

[2021-04-15 23:13] Sleepybear47 opened #1312 "Hi"

[2021-04-15 23:30] moody123-collab commented on #1312
Hi..

On Thu, Apr 15, 2021, 23:14 Sleepybear47 ***@***.***> wrote:

[2021-04-21 07:26] Aanchal-ux opened #1316 "Python"

[2021-04-21 10:30] prathimacode-hub opened #1317 "Can I add SMS Sender using FAST2SMS API"
This script is SMS sender using FAST2SMS API. It sends messages to any number with user specified text message efficiently using GUI. Can I contribute this project?

[2021-04-25 17:49] DiptiAgrawal-24 commented on #1088
@aayushikanojiya  you can write your code in python like this:

[code]

[2021-04-29 01:41] moaomingmeimama commented on #820
奥利给

[2021-05-04 00:18] hhi11 commented on #1312
hi

[2021-05-16 22:22] Blvk2ar0n opened #1327 "Python"

[2021-05-19 21:21] umegbewe opened #1328 "Remove .DS_Store file"
The .DS_Store file is a MacOS file which is created by finder to save folder preferences and configurations. This file may contain sensitive information as it contains the names of other files in the containing folder.

In this case it's useless

Also the contributing.md file should contain an info for developers to add .DS_Store to gitignore

[2021-05-21 15:39] Abrams11IsBack commented on #1317
FAST2SMS API has the price thing tho https://www.fast2sms.com/Bulk-SMS-Price

[2021-05-23 04:25] marcosdantas1897 opened #1330 "Exercícios"

[2021-05-23 04:27] #1330 closed

[2021-05-25 08:49] joshimehul commented on #1292
can i woork on this issue?

[2021-06-02 10:36] Ragnarakkr opened #1332 "i need to replace one if statment, but i dont know with what."
![image](https://user-images.githubusercontent.com/85024103/120466117-99eeb200-c396-11eb-9849-44fe6ff3a943.png)
as seen in the attached photo, i am currently trying to make a basic piece of code that tells you if your number is too high, low or matches the value of the variable compnum.

 Thank you in advance, Ragnarakkr

[2021-06-03 08:20] ThejasBK commented on #1225
@thedivyanshuyadav is there an efficient way to solve the problem? Like without using the for loop.

[2021-06-03 22:21] dada24121994 commented on #474
It is not 'true'. It should be written as 'True' because its a boolean value

[2021-06-03 22:27] #1332 closed

[2021-06-03 22:27] Ragnarakkr commented on #1332
right ive found a fix using if, elif and else.

[2021-06-09 11:23] sayantani11 opened #1334 "Desktop Voice assistant"
I would like to add a new script that implements a desktop voice assistant using python

[2021-06-29 16:25] thedivyanshuyadav commented on #1225
I don't know any solution which is more efficient than this. The Complexity of the program is O(n).

[2021-06-30 23:45] Vayeel opened #1342 "T"

[2021-07-01 06:16] kkanekii commented on #1342
Can i help?

[2021-07-01 07:59] Ashis26 commented on #1327
solved

[2021-07-05 11:31] alooboy47 commented on #1263
I think you can try to convert a list into a string and add it to the database, after that when you go to retrieve the data, convert the string back to list. For converting list to string in python use str(NameOfList) and for converting string to list use list(NameOfString).

[2021-07-05 11:42] alooboy47 commented on #1342
What is the issue I might be able to help...

[2021-07-11 17:18] slowy07 opened #1352 "pytest ```test_case.py```"
hello, i have problem with pytestest on github check, on ```Test-Case-Generator/test_case.py``` have problem on pytest github action with error

[code]
so, pytest (github action pytest) n't support test for tkinter (GUI) ??, and i works and no error on local check with pytest

so i created by adding
[code]
and works on my local test but error  in github pytest and still same, any solution ??

than

[2021-07-27 07:05] S1i2n3g4h5 commented on #1334
Sure contribute to project. But make sure everything works before making any pull request.

[2021-07-27 16:16] #1334 closed

[2021-08-03 09:57] shivamsp133 commented on #1352
REFER
https://github.com/microsoft/vscode-python/issues/15398

[2021-08-04 09:02] somePythonProgrammer commented on #1312
hi

[2021-08-04 18:42] Shivambhagat commented on #1272
In the division operator you can check that 'b' is not zero to avoid Division by Zero error

[2021-08-06 20:43] Or-C-M commented on #762
??? My IDLE doesn't exit itself unless I have an exit() at the end of the program

[2021-08-07 19:09] CodeLongAndProsper90 commented on #762
That's IDLE, not a normal environment

[2021-08-15 11:58] guna2740 commented on #1312
Hi

[2021-08-15 12:04] Ankit123-cpu commented on #1312
Hi

On Sun, 15 Aug, 2021, 5:29 pm guna2740, ***@***.***> wrote:

[2021-08-23 16:05] hossein-2762 opened #1365 "Exam"

[2021-08-23 16:06] #1365 closed

[2021-08-25 16:37] Hossein2761 opened #1366 "Google"

[2021-08-27 10:11] sandeep328 opened #1367 "Currency converter"

[2021-08-31 09:52] Ayushparikh-code opened #1369 "translator.py should redirects command line input output to tkinter gui window"
#1370

[2021-09-02 06:33] StaHk-collab commented on #1366
@hossein-2762 Can u please explain the issue in detail?

[2021-09-02 07:41] StaHk-collab commented on #1312
Hello

[2021-09-02 08:17] shanurwt commented on #1312
wassup

[2021-09-03 08:01] rafter-GMSVK commented on #1312
I am looking forward to contributing really appreciate any guidance.

[2021-09-04 23:17] Vairous009 opened #1374 "Py"

[2021-09-04 23:17] Vairous009 commented on #1374
Python

[2021-09-10 08:37] #1369 closed

[2021-09-18 16:06] PROTHEMESH commented on #1367
can i work on it ? i am a newbie coder

[2021-09-18 16:08] sandeep328 commented on #1367
Yes you can

[2021-09-18 16:08] sandeep328 commented on #1367
Ok

[2021-09-20 05:42] ajaykathwate commented on #1179
Hey i can do this in min no of lines
I would like to contribute
assign this issue to me.
I will fix it within 24 hours

[2021-09-29 01:44] nh-noorzai opened #1389 "Pythooo"

[2021-09-29 01:52] nh-noorzai opened #1390 "Example001"

[2021-09-29 01:54] nh-noorzai commented on #1390
Hh

[2021-10-01 20:13] henry-the-vietnamese commented on #1367
Is there any specification as to which is converted to which?

[2021-10-22 06:54] munikutali opened #1413 "Greek"

[2021-10-27 07:04] TheGeekhb opened #1416 "Python"

[2021-10-27 07:04] #1416 closed, assigned to nobody

[2021-11-06 09:40] bupboi1337 opened #1425 "Multiple Vulnerabilities in PDF"
I have spotted a handful of security issues due to a outdated library in PDF, the library is pillow and it is set to be on 5.0 instead of the latest version (At the time of writing this that would be 8.4.0). To fix this issue all you have to do is go in the requirments.txt file and change
Pillow==5.0.0

fpdf==1.7.2
to

Pillow==8.4.0

fpdf==1.7.2

I would recommend fixing this as soon as possible.

[2021-11-08 19:02] bupboi1337 opened #1428 "Unorganized .py files everywhere."
Why are there so many .py and other random files just sitting not in folders at all? Please organize the files asap.

[2021-11-08 19:03] bupboi1337 commented on #1389
Please explain what this comment means and what the issue is.

[2021-11-08 19:04] bupboi1337 commented on #1374
Ok?

[2021-11-08 19:04] bupboi1337 commented on #1342
Whats the issue?

[2021-11-08 19:05] bupboi1337 commented on #1327
Whats the issue here?

[2021-11-08 22:57] bupboi1337 commented on #1312
If you plan on contributing I would do the following:

1. don't upload broken code.
2. don't break anyone else's code.
3. make a folder for your own code.
4. when your code is in the folder check if your python code uses any modules. if it does then in the same folder as your own code make a file named requirements.txt and list the modules used in your code in there.

also hi

[2021-11-08 22:59] bupboi1337 opened #1429 "Why is there pretty much nothing in the wiki?"
Why is there nothing in the Wiki? I think a wiki would be very useful in this repo.

[2021-11-13 12:29] art1722 opened #1432 "Test"
test123

[2021-11-16 07:05] goribar commented on #1432
:) hi. I am just learning python.

[2021-11-22 08:02] Spiritdivine opened #1436 "Python course"
Mastery and learning

[2021-11-29 06:33] shahid389 opened #1439 "Python programming"

[2021-11-29 06:34] #1439 closed

[2021-11-29 13:42] yusufadell opened #1440 "numpy.py file causes a circular import"
module 'numpy' has no attribute 'array' (most likely due to a circular import)

[2021-11-29 17:52] #1366 closed

[2021-11-29 20:32] #1440 closed

[2021-11-30 00:00] DontEatThemCookies commented on #1440
The circular import is because the file is named "numpy", the same as the numpy module. Rename it to something else so that it works

[2021-11-30 00:06] yusufadell commented on #1440
Yeap, i figured that out, my pull request solving this issue merges an hour ago.

[2021-12-09 02:21] Sidontheway commented on #1436
hello i am new to open source . Can you guide me?

[2021-12-09 06:52] lion1470 commented on #1436
Yeah sure i can guide you....

On Thu, 9 Dec, 2021, 7:54 am Sidontheway, ***@***.***> wrote:

[2021-12-12 09:21] Sourabhpatidar26 opened #1444 "My ideal"

[2021-12-23 12:50] Sleepybear47 commented on #1312
Hi

[2021-12-28 02:17] bupboi1337 commented on #1312
Hi

[2021-12-29 18:37] ahmedbereir opened #1449 "F"

[2022-01-04 17:48] Ovix91 opened #1456 "why it's showing me wrong?"
according to video saw it mustn't show 10 and 30,i did it once and it works but now it doesn't, what should i do?
i think i must know how does it work in behind the scenes

prices = [10,20,30]
total = 0
for price in prices:
    total += price
    print(f'total: {total}')

it showed me 10 30 60
it mustn't show me 10 and 30

[2022-01-04 17:50] Ovix91 commented on #1432
hi there
wanna be friend?:)

[2022-01-04 17:54] goribar commented on #1432
Yeah

[2022-01-04 18:02] Ovix91 commented on #1432
niceee
oh waaaittt
did you finish basic of python?

[2022-01-04 18:16] goribar commented on #1432
Yes I did. I hate it lol

[2022-01-04 18:31] Ovix91 commented on #1432
sooooo, can you give me help?:))))

[2022-01-04 18:32] goribar commented on #1432
Maybe but not today. Tomorrow for sure. I'll try though. I'm no expert

[2022-01-04 18:38] Ovix91 commented on #1432
ok i don't have anyone else, please if you didn't know ask someone too

prices = [10, 20, 30]
total = 0
for price in prices:
 total+= price
 print(total)

i wrote it but it shows me more than it must, it shows me 10,30,60

[2022-01-04 18:52] goribar commented on #1432
Looks like your print is inside the loop. That's why it adds 0+10 and prints. Then 10+20, print. Then 20+30, print.

[2022-01-04 18:54] goribar commented on #1432
It looks like your print is inside the loop: 0+10 -> print. 10+20 -> print. 30+30 -> print.

[2022-01-05 11:59] Ovix91 commented on #1432
sorry being late for answering ,last night i found it, tnx:)

[2022-01-05 12:02] goribar commented on #1432
Great! how did you solve it?

[2022-01-06 07:35] Mahi8585 opened #1457 "List"
Hello , if I wanna know to wich member of my list have a number in its 3rd home ?
For example I have list such as this:
[[[1,1,1,-1]
   [2,3,4,6]
   [1,1,-1,2]
   [1,1,1,3]]]
 and  I need to know wich of them has number -1 in its third home
and it should show me the list number 3
[1,1,**-1**,2]
Could you please help me

[2022-01-06 08:39] Ovix91 commented on #1432
I must use space before calculation🤣,but i didn't and that happened

[2022-01-08 13:51] BeASTBLASTER commented on #1457
n=[[1,1,1,-1],[2,3,4,6],[1,1,-1,2],[1,1,1,3]]
for i in n:
    if i[-2]==-1:
        print(i)
As you can see it is the nested list so basically we come out of inside list to inside list to check the element from the last 2 which is third from start . It will print in final contion

[2022-01-08 13:58] BeASTBLASTER commented on #1456
prices = [10,20,30]
total = 0
for price in prices:
    total += price   #Your Problem is in simple index problem
print(f'total: {total}')
Now when you run it doesn't  show the error because due to indexing problem now you see first your total price is 0 at start
when price element comes 10 it get added to total which is 0 then it get 10. after price value change to 20 and total value is 10 we get

[2022-01-08 21:38] Ovix91 commented on #1456
what do you mean indexing problem?

[2022-01-09 06:54] implosion07 commented on #1272
I would prefer to use float() instead of int() to increase efficiency of code.

[2022-01-09 06:56] implosion07 opened #1458 "Dictionaries"
Can anyone help me out with dictionaries in python via an illustrative code?

[2022-01-09 07:19] BeASTBLASTER commented on #1456
your print command was inside the for loop which leads to answer 10 and 30
I have given space but it is not showing I will add the program in above so that you can understand

[2022-01-10 09:44] Mahi8585 commented on #1457
Thank you 🌺

[2022-01-10 15:21] BeASTBLASTER commented on #1456
Do you understand the answer .

[2022-01-11 07:10] darshang99 commented on #1458
#dictionaries are unordered collection key-value pairs.
#dictionaries syntax goes as below
dict = {
  'key' : 'value' ,
  'key2' : 'value2'
}
#like if u want an example

dict = {
  'name' : 'darshan',
  'occupation' : 'student'
}

#so if you want to access the dictionary you can just use
print(dict['name'])
#output will be the value that is associated with the key name so you get(darshan)

#if you

[2022-01-11 13:32] Sourabhpatidar26 opened #1460 "Calcutator Program"
What is issue in this program **tell me about your thoughts**
# - [ ] - 🧐🧐🧐🧐

[2022-01-11 17:17] Ovix91 commented on #1456
Yes yes,thank you:)

[2022-01-11 23:07] #1456 closed

[2022-01-12 05:17] #1458 closed

[2022-01-14 08:03] ahmadjubair33 commented on #1460
hi can i solve this issue

[2022-01-14 17:56] Z3USI12I opened #1461 "G"
G

[2022-01-14 17:56] #1461 closed

[2022-01-18 09:03] ANANYMOS6 opened #1464 "H"

[2022-01-19 13:42] boyintheroom opened #1466 "(please help) having problem in my code"
### Description of the Bug

1.Hi Developers im new to coding. i tried to make this video uploading app to my firebase storage but im not that good at coding so im stuck at this problem. when upload button is pressed the filechooser is opened and if i select a file it gets uploaded to the firebase But if i cancel and close the filechooser it gives an error.
2. i am unaware if this file chooser work

[2022-01-20 12:50] Ksanthosh20 opened #1467 "Program"

[2022-01-22 05:31] Sourabhpatidar26 commented on #1460
@ahmadjubair33 yes bro help us

[2022-01-27 20:52] bupboi1337 opened #1470 "Giant security bug in PDF program."
There is a giant security risk in the program PDF. I made a pull request with a fix here: #1469
I would recommend fixing this ASAP.

[2022-01-28 06:20] Jatinsharma250 opened #1471 "Cvc file in python"
# import all required library
   Import xlrd
   Import csv
   Import pandas csv
 # open workbook by sheet index
 # optional_sheet_by_index()
Sheet=xlrd.open_workbook("Test.xlsx").sheet_by_index(0)
# writen object is created
 Col= csv.writen(open("Tcsv",'w',newline="" ))
# writing the data into csv file for row in range(sheet.nrows):
# row by row write
# operation is perform
Col.writerow (sheet.row

[2022-01-28 06:21] Jatinsharma250 opened #1472 "Csv file and xlrd"
# import all required library
   Import xlrd
   Import csv
   Import pandas csv
 # open workbook by sheet index
 # optional_sheet_by_index()
Sheet=xlrd.open_workbook("Test.xlsx").sheet_by_index(0)
# writen object is created
 Col= csv.writen(open("Tcsv",'w',newline=" " ))
# writing the data into csv file for row in range(sheet.nrows):
# row by row write
# operation is perform
Col.writerow (sheet.ro

[2022-02-09 08:30] Krish1704 commented on #1460
Hi I can help

[2022-02-09 08:49] Sourabhpatidar26 commented on #1460
- Yes you can help me @Krish1704

[2022-02-10 06:25] sudheerreddy1430 opened #1479 "Please solve it"
https://github.com/TheAlgorithms/Python/issues/5988

[2022-02-11 10:05] peterpaniff commented on #1479
您的邮件我已经收到，我会尽快查阅并回复，谢谢

[2022-02-18 05:15] prateeekgoel7248 commented on #1460
What  is  the issue?

[2022-02-18 05:16] prateeekgoel7248 commented on #1460
Send me the issue I will solve  that issue

[2022-02-18 05:19] prateeekgoel7248 opened #1480 "How can I improve the complexity of a python program ?"
Hi!
I do coding on many platforms and I got TLE(time limit exceed) errors many times so I just want to know how can I reduce the time complexity of my python program.

[2022-02-18 05:28] prateeekgoel7248 commented on #1342
There are no issues, it is just wasting our precious time.

[2022-02-21 21:22] jha00 commented on #1480
Can you please share the question?

[2022-02-24 14:39] unmoo1707 opened #1484 "File extentions"
Some files do not have `.py` extention

[2022-02-28 14:51] NoSkillDev commented on #1466
If you cancel/close the filechooser, it errors due to there not being a file to upload. I would recommend checking if there is indeed a file before uploading.

[2022-03-07 17:25] Rohits9988 opened #1491 "Hello. Py"

[2022-03-10 09:02] boyintheroom commented on #1466
thankyou.....it worked...

[2022-03-13 07:46] thokalanavya opened #1496 "Github"

[2022-03-13 14:55] #1466 closed

[2022-03-15 13:43] Kim-Venom opened #1497 "My app"

[2022-03-16 11:38] dubeyji10 commented on #1480
@jha00 is right it depends on question
for an example - recursive and overlapping sub problems are modified by memoization ( dynamic programming )
maybe a question requires you a better approach
improving complexity is just about making solutions efficient
( btw i suck at this thing i am also a victim of TLE )

[2022-03-16 14:23] Devansh-69 opened #1498 "python"

[2022-03-29 04:05] Codycode91 opened #1500 "Py3"

[2022-04-06 11:37] danielribeiro53744 commented on #1457
n = [[1, 1, 1, -1], [2, 3, 4, 6], [1, 1, -1, 2], [1, 1, 1, 3]]
x = list(filter(lambda x: x[2] == -1, n))
print(x)
With this you get a list with all the objects(list) that have the condition inside the filter, if it doesn't exists it will return an empty list

[2022-04-11 06:09] sengar306 commented on #1460
what is the problem in this code .pleaset ell me

[2022-04-28 20:30] jonesprocode opened #1505 "geekscompute"

[2022-05-04 03:12] SohamRatnaparkhi commented on #1480
Usually in CP, TLE occurs when your code takes more than 5 sec. to run the test-case for Python code and 1sec for C/Cpp (in codeforces - 1sec for Python as well). You need to have a brief understanding of time complexity for this. By calculating the time complexity of an algorithm, it is possible to check, before implementing the algorithm, that it is efficient enough for the problem.
![image](htt

[2022-05-07 09:55] Santhoshmrs002 opened #1510 "Stater"

[2022-05-07 14:46] Locaia93939383 commented on #1497
?

[2022-05-10 15:13] eliazonta commented on #1496
does this issue exists ?

[2022-05-10 15:14] eliazonta commented on #1460
what's the problem ?

[2022-05-15 05:18] Deepaksinghmar opened #1514 "The adventures"
The next pyt

[2022-05-20 02:38] FR-eden opened #1515 "。"

[2022-05-22 02:42] MONEQ035 opened #1518 "Hello"

[2022-05-23 13:26] #1457 closed

[2022-05-29 18:08] Kim-Venom opened #1521 "My Shopping python program"
#a shopping program that sells add and check out to customers

import time
import os

shopping_cart = 0

total_price = 0

item_list = []

#shopping function

def shopping ():
    global shopping_cart
    global total_price

    print ("Here are lists of items for sale: ")
    print ("1. Apple - $3")
    print ("2. Soap - $6")
    print ("3. Soda - $4")
    print ("4. Pie - $8")
    print ("5. Cake

[2022-05-29 18:09] Kim-Venom commented on #1521
Please you can correct and lecture me on some stuffs am a beginner

[2022-05-29 20:19] akjroller commented on #1521
Here are a few changes that I would make

`import time

shopping_cart = 0
total_price = 0
item_list = []

# shopping function
def shopping():
    global shopping_cart

while shopping_cart < 20:
    print("Here are lists of items for sale: ")
    print("1. Apple - $3")
    print("2. Soap - $6")
    print("3. Soda - $4")
    print("4. Pie - $8")
    print("5. Cake - $14 ")
    print("6. Exit \n")

[2022-05-29 20:44] Kim-Venom commented on #1521
Thanks so much I really appreciate it

[2022-05-29 20:57] akjroller commented on #1521
No problem, glad I could help. If you ever have any questions let me know and I'll assist if I'm able. You can also go to my repository and take a look at some small python projects for beginners. Here is a link to it.

[](https://github.com/akjroller/Learning-python-through-projects)

[2022-05-30 05:10] Shivanshu-23 opened #1522 "Easy_project"

[2022-06-05 07:18] lixin0512 opened #1525 "feature request"
this is a feature request

[2022-06-06 08:51] akjroller commented on #1525
Feature request for what?

[2022-06-20 12:42] rudramohapatra opened #1550 "Python"

[2022-06-21 10:45] Deepaksinghmar opened #1555 "PR isn't working"

[2022-06-24 06:18] Lokhasree07 opened #1567 "Python projects"

[2022-06-28 10:00] La-victoire opened #1573 "How do I create a generator"

[2022-07-02 12:39] kumarvivek1752 commented on #1573
simply generator is a function but we write yield instead of return because when we write return in our function the function end on return. however, any of the local variables created during the function scope are destroyed and we can not accessible further. While in case of generator when it encounters a yield keyword the state of the function is frozen and all the variables are stored in memory

[2022-07-02 12:57] Aliwahid17 commented on #1573
yes, you tell right about generators but instead of writing print statements multiple times use for or while loop

[code]

[2022-07-02 13:00] Aliwahid17 commented on #1573
[code]

[2022-07-02 14:51] kumarvivek1752 commented on #1573
yeah but that is only for demonstration not for realworld use.

[2022-07-02 14:55] Aliwahid17 commented on #1573
oh ok. by the way good demonstration

[2022-07-02 22:26] Tevazu commented on #1573
#### _Generators are objects used to create an iterable object in Python and do not take up memory space. For example, if we generate 100000 values and keep these values in memory, it will take up a lot of space, but this problem can be overcome thanks to generators. You can check this simple program which takes squares of the numbers 1, 2, 3, 4, 5 :_

[code]
#### _You can compare with the version

[2022-07-03 00:36] Aliwahid17 commented on #1573
Yup thanks for telling. Now i know about it more

[2022-07-03 01:43] La-victoire opened #1594 "Pls explain how to write a loop code"

[2022-07-04 11:40] darthdaenerys commented on #1480
Well, to reduce the complexity of a program you have to use a better algorithm or sometimes an efficient data structure. Before writing the actual code, calculate the complexity and if its within the time constraints of question, then you're good to go otherwise try to find more efficient solution, optimize your code etc.

[2022-07-05 17:01] MahikaKakani commented on #1594
**`for variable in range(start,stop,jump):
       print(variable)`**

**For example**:

`for x in range(0,5):
      print(x)`

Output:
0
1
2
3
4

**Second example**:

`for x in "smile":
     print(x)`

Output:
s
m
i
l
e

[2022-07-05 17:07] MahikaKakani commented on #1594
`**while condition:
     #write code here
     # change the condition i.e. any increment or decrement possible**`

**For example:**

`i=0
while i<=5:
    print("Hi  ",i)
    i=i+1`

**Output:**
Hi  0
Hi  1
Hi  2
Hi  3
Hi  4
Hi  5

[2022-07-06 07:50] Turintus opened #1599 "Python learning"

[2022-07-07 08:27] Xx-soheil-xX commented on #1567
project

[2022-07-09 16:57] #1352 closed

[2022-07-18 09:58] Hekzou opened #1618 "Hi"

[2022-07-18 10:03] #1618 closed

[2022-07-19 03:56] akashwarpain opened #1620 "Looping statement"

[2022-07-23 19:49] whoami-anoint opened #1636 "FileNotFoundError"
File "/home/anoint/logs.py", line 18, in <module>
    for files in os.listdir(logsdir):  # Find all the files in the directory
FileNotFoundError: [Errno 2] No such file or directory: 'c:\\puttylogs'

[2022-07-27 03:35] La-victoire opened #1647 "How do I run my code in termux"
I have already connected my editor to termux through GitHub, but I'm not clear on how to run the code I wrote on my editor in my termux
Please can anyone help me with this

[2022-07-27 19:12] #1636 closed

[2022-07-29 04:25] Senseimhawk opened #1649 "ji"

[2022-08-02 14:10] Qestron commented on #1647
Hi, i found youtube video explaining on how to run code might help you.
https://youtu.be/GKlJWYdeh_8?t=741

[2022-08-03 22:18] La-victoire commented on #1647
Thank you

[2022-08-05 14:52] Qestron commented on #1647
Glad i was able to help you.

[2022-08-10 05:21] Masabo1 opened #1660 "How to save an INPUT in a list and save"
I'm very new to python and learning about the basics, I'll love to make a survey program that saves every entry of the INPUT function and send everything to a lost or dictionary and print all the info after the survey is completed?

[2022-08-14 06:08] santoshdvc commented on #1660
For Single Line input, space or comma separated.
[code]

[2022-08-14 06:11] santoshdvc commented on #1660
If multiline or dyanmic inputs :

[code]

[2022-08-17 10:34] Bhanuteja01 commented on #1660
@santoshdvc  nice man

[2022-08-21 10:45] swe-pea opened #1674 "WeatherScrapper broken"
The current version of the WeatherScrapper application doesn't work. Possibly due to changes to the www.wunderground.com site. I propose to update/fix the application implementing a solution using selenium. This update will make use of the existing code and expectations to acheieve a working solution.

[2022-08-22 04:09] gamezz1o8 opened #1675 "One piece wallpaper"
![LUFFY](https://user-images.githubusercontent.com/101325910/185837837-fbf51370-77bb-47b0-8c11-26f86f2a30ef.jpg)

[2022-08-22 04:13] gamezz1o8 opened #1676 "nice"
![LUFFY](https://user-images.githubusercontent.com/101325910/185838181-bb90b911-0045-4ad1-8c48-cf4ecf43ecc3.jpg)

[2022-08-22 07:33] De-Been-Tech-Solutions opened #1677 "How do you Make This"
How do you make this program? Unless this is a joke.

![unknown_2022 08 22-17 03](https://user-images.githubusercontent.com/60248725/185864937-2574a7f7-dfe4-4bd5-b4e0-5cac3e9aefcd.png)

[2022-08-22 07:50] NickDeBeenAIE commented on #1677
More like how do you use this?

I double click after installing Python 3.10 and it flashes for a split second and doesn't stay open.

[2022-08-22 08:57] NickDeBeenAIE commented on #1677
``Traceback (most recent call last):``
  ``File "C:\Users\Nick\Desktop\Python-master\Python-master\insertpythonscripthere.py", line 4, in <module>``
    ``import requests``
``ModuleNotFoundError: No module named 'requests'``

[2022-08-22 14:02] slowy07 commented on #1674
oke nice one

[2022-08-23 05:11] valencastrx opened #1680 "Interesting"

[2022-08-23 09:15] NickDeBeenAIE commented on #1677
``Traceback (most recent call last):
  File "C:\Users\Nick\Desktop\Python-master\Python-master\facebook id hack.py", line 73, in <module>
    if function(email, passw, i):
  File "C:\Users\Nick\Desktop\Python-master\Python-master\facebook id hack.py", line 47, in function
    payload, cookie = create_form()
  File "C:\Users\Nick\Desktop\Python-master\Python-master\facebook id hack.py", line 39, in

[2022-09-08 08:22] Akram4737 opened #1689 "Giant bug in PDF FORMAT"

[2022-09-08 08:28] shreyas309 opened #1690 "good"

[2022-09-08 08:31] #1690 closed

[2022-09-08 08:33] Akram4737 commented on #1689
I faced same issues

[2022-09-08 09:51] #1689 closed

[2022-09-10 17:26] sundaram2021 commented on #1521
# made function "details" of repeating codes
#removed "shopping" and globalisation of the value of shopping_cart

import time

shopping_cart = 0
total_price = 0
item_list = []

def details(element, itemPrice, noOfItemInShoppingCart):
  print(f"You have added {element} to you cart")
  item_list.append(f"{element}")
  print(f"You're total price so far is ${itemPrice}")
  print(f"You have {noOfItemIn

[2022-09-19 18:26] ismahane-12 opened #1693 "Python"

[2022-09-22 13:40] Sd-Shivam commented on #1660
if you want to give one by one :
[code]

[2022-09-25 07:26] dincodekar opened #1695 "Hcch"

[2022-10-01 17:11] BhargavRocks commented on #1247
you can make onetoonefield in your model and can attach that user to User(in-built) model. You can save password , first name, last name, email in that User model and rest of the information can be saved in your created model. So that your password will be safe in User model as it uses SHA1 algorithm (that you also can use to safe your password). This can be done. I do it all the time.

[2022-10-04 00:39] icrushhaileesteinfeld opened #1703 "Can I make an Among Us game by python? (Simple one)"

[2022-10-04 13:30] SarwinR commented on #1703
Yes you can but it might take much more time than using a game engine like Unity or Unreal Engine.
Fun Fact: Among Us was developed using the Unity engine.

[2022-10-08 19:01] sayampradhan commented on #1573
### Generator for printing a string
[code]

[2022-10-11 20:30] sayampradhan commented on #1660
[code]

[2022-10-13 09:48] DhanenFz opened #1772 "Apartments Savings Plan"
![image](https://user-images.githubusercontent.com/111895714/195562982-6dc4d619-4285-4eec-9e2c-d3be3f1e07b6.jpeg)

Can anyone help me with this ?
I'm a beginner and I'm confused on how do I estimate how many months does it takes to buy the apartment.

[2022-10-14 17:04] sayampradhan commented on #1660
[code]

[2022-10-17 12:24] deepanshmittal opened #1782 "Code Quality issue in 1 File handle/File handle text/input,output and error streams.py"
The while loop will only be executed once and hence can be reduced to a simple code with removing few statements.

[2022-10-18 12:38] #1772 closed

[2022-10-22 10:54] TSaiPradyumna commented on #1703
hello
have you asked the question?
that any one can create a game?
if anked and is ya a little thing not big

[2022-10-22 18:04] maxwellnewage opened #1783 "site_health.py - Checks the health of a remote server (README) 404 error"

[2022-10-23 19:30] Shivu7889 commented on #1783
I want to assign this issue

[2022-10-26 07:01] starmakerZhao opened #1786 "Hi, can I join this repository?"
Hello, I am new student from U.S, a beginner of GitHub and Python. Can I join this repository to study Python and be familiar with GitHub?

Thanks

[2022-10-27 15:17] Masonry321 commented on #1786
hi, yes you can ....Im sorry cuz am not good at english but we will make it
up

hope you like it

‫في الأربعاء، 26 أكتوبر 2022 في 9:03 ص تمت كتابة ما يلي بواسطة
‪starmakerZhao‬‏ ***@***.***‬‏>:‬

[2022-11-11 08:01] DeveloperPeach commented on #1786
Yeah u can, I'm new here too 😄

[2022-11-11 08:02] DeveloperPeach commented on #1599
Print code:
`print ()`
Input:
`variable = input (value)````

[code]

[2022-11-11 08:07] DeveloperPeach commented on #1620
Both for loop & while loop help in Python loop code, syntax below:
**While Loop**
sum = number
i = number
while variable=value:
sum = sum + number
print (sum)
i = i + number
**For Loop**
for i in range (number):
sum = sum + i
print (sum)

[2022-11-15 12:03] Joseph-111 opened #1791 "VS Terminal"
Hello, I have a problem with running the Python code in visual studio, its just repeat the results in Terminal each time I run the code! Any help guys. Thank you.

[2022-11-16 08:15] Abdulazeez1960 opened #1793 "Learn python"

[2022-11-16 08:15] #1793 closed

[2022-11-18 12:45] Rajesh152207 opened #1794 "Hello"

[2022-11-20 13:10] Kushkumar7 opened #1795 "No issues!!"
I am just looking for a repository in which i can also participate

[2022-11-29 08:02] wkddntjr1123 opened #1798 "test"

[2022-11-29 08:04] #1798 closed

[2022-11-30 12:53] bvblvck commented on #1798
`<html>
Colour a`

[2022-11-30 16:38] Cruzzop opened #1799 "I want to learn python in 1 week"
Please give me a suggestion